[2013-12-19 17:20] joebayles opened #1 "Release Military Symbology Repo"

[2013-12-19 20:44] csmoore opened #2 "Add Test Driver showing 2525C symbol/image from 2525D edit box"
Using AGS Runtime getSymbolImage call will probably be the easiest way to get an image from a 2525C 15-char symbol id

[2013-12-19 20:48] csmoore opened #3 "Add automated test drivers"
Using xUnit (NUnit/MSTest, JUnit, etc.) for whatever framework you are using to develop your code in

[2014-01-27 16:52] csmoore opened #4 "Test App Improvements"
Some small changes to the test app would make it easier to use
1. Default Values should be ones that work - or perhaps change to a combo box with several working values
2. Image SizeMode --> StretchImage
3. Arrange the UI so that how it works, how one uses it is more clear. Here is a proposed layout/design:

![testappimprovements](https://f.cloud.github.com/assets/3090809/2010875/6eb6c832-8773-11e

[2014-01-27 17:03] csmoore opened #5 "Initial Repo Review Issues"
1. Add Screenshot to Repo/Readme
2. Readme: add steps to run automated unit tests from command line using  VSTest.Console.exe / MSTest.exe (needed for nightly auto build/test runs)
3. tree/master/instance/graphics - include the license and source of all of those svg/png files - i.e. what license gives you permission to include these - Note: Opened new issue #10 for this
4. Remove extraneous files:

[2014-01-27 20:24] csmoore opened #6 "Required Reference API/Test Sample Features"
From an end-user perspective some Reference API/Test sample code that shows how to perform the following would be helpful:

Search:
1. How to get a list of valid symbols
2. How to get a list of symbols based on some attribute. e.g. Air symbols/Point Symbols/Etc.

Basic Lookup:
1. How to get the data properties/attributes of a symbol
   a. Is it a point, line, area, etc.
   b. What are its metadata

[2014-01-28 16:54] csmoore opened #7 "2525C Air SIDCs that don't return a value from Librarian.MakeSymbol("2525C", sidc2525C)"
These values below didn't return a value from Librarian.MakeSymbol("2525C", sidc).

So a few questions:
1. Is there some way to tell if they are still valid in 2525D?
2. Does everything from 2525C and APP6B have a mapping to 2525D?
3. How do we know if this a defect (that a value should be returned from 2525D)
4. How do we detect a failure with MakeSymbol

SFAP-------------> (1000000000, 100000000

[2014-01-28 18:52] csmoore opened #8 "Format SIDC.PartAString, SIDC.PartBString"
Format string so it is 10 characters:

This code:

SIDC sidc = new SIDC(0, 0);
System.Diagnostics.Trace.WriteLine(sidc.PartAString + ", " + sidc.PartBString);

Outputs: 0, 0

But I would expect: 0000000000, 0000000000

[2014-01-29 16:51] #2 closed, assigned to nobody

[2014-01-29 22:34] csmoore opened #9 "Reference Sample to Produce/Convert Data Tables from XML Source Files"
Being able to produce an output (println/cout, .txt, .csv) in a tabular format like as a Data Table would allow visual validation of the data in the repo.

The exact formatting/columns can be determined later but having the information in columns in a one tabular output would better enable someone to check the info at a glance.

A comma-delimiter output console app that can be piped to a file is f

[2014-01-30 16:26] csmoore opened #10 "Address dependent PNG/SVG Image Files needed by this repo"
@abouffard plans on removing the files from

https://github.com/ArcGIS/joint-military-symbology-xml/tree/master/instance/graphics

So the issues to address are:
1. Andy will add instructions to the readme for how to obtain these files.
2.  Ensure that these files are readily obtainable from a public distribution site.
   1. Having the image files as part of this repo would be preferred, since it w

[2014-02-07 22:49] #3 closed, assigned to nobody

[2014-02-07 22:52] #10 closed, assigned to nobody

[2014-02-07 22:58] #8 closed, assigned to nobody

[2014-02-10 19:29] #5 closed, assigned to nobody

[2014-02-11 21:03] #4 closed, assigned to nobody

[2014-02-21 21:53] csmoore opened #11 "Remove "Magic Numbers" from the code"
The code has many instances of "magic numbers" that will make reading and maintaining the code difficult. Ex.

[code]

These should all be changed to reference const/static objects. ex:

this._first10 = Symbol.RETIRED.First10

where RETIRED is a static field on Symbol that returns a static Symbol Object with those "magic number" properties.

Note: also mentioned in commit review notes: ab681e14256

[2014-02-21 23:08] csmoore opened #12 "Move detailed user doc to separate .md in documentation folder"
For really detailed usage doc (like which bits to set on an int to get error codes), please move this info to a separate .md file in {repo root}/documentation folder

Note: also mentioned in commit review notes: ab681e142566ef715d15590f0a628b72279b28b1  but not addressed in latest commit (so please make sure you have these notifications turned on).

[2014-03-07 22:07] #7 closed, assigned to nobody

[2014-03-08 14:00] #1 closed, assigned to nobody

[2014-04-08 15:19] #11 closed, assigned to nobody

[2014-04-08 22:40] joebayles opened #16 "Image Discrepancies"
Frame Symbol Issues

| File | Context | Dimension | Identity | Issue |
| :-: | :-- | :-: | :-- | :-- |
| 0601 | Reality | Air | Hostile | Symbol should not be closed at bottom |
| 0605 | Reality | Space | Hostile | Symbol should not be closed at bottom |
| 0635 | Reality | SubSurface | Hostile | Symbol should not be closed at bottom |
| 2601 | Simulation | Air | Hostile | Symbol should not be clos

[2014-04-10 17:11] csmoore opened #18 "Batch Files included in CSV folders for common export tasks & rename Folders to use "Simple Names""
For ease-of-use: (so a user doesn't need to worry about figuring out the command line option, regex stuff)

Just create/include the batch files that are used to create all of the exported csv's that get stored in this project/repo: e.g. https://github.com/abouffard/joint-military-symbology-xml/tree/master/samples

So - if a sample csv is stored in this repo, it must have an associated bat file to

[2014-04-11 11:52] csmoore opened #19 "Add Simple High Level Schema Description/Doc"
It looks like this has already been thought of: Missing Sections here:  https://github.com/Esri/joint-military-symbology-xml/blob/master/documentation/APIUserDoc.md#schema-reference

So just wanted to add an issue to remind/track. Given that this repo is now at the maturing/stabilizing stage, it is probably time to add those missing sections to the doc (perhaps as separate .md files since that doc

[2014-04-11 22:53] joebayles opened #20 "LegacySymbol Issues"
After speaking with Andy to clarify this issue, there are two different issues:

Some symbols are in the proper 2525D XML, but reference symbols that come from other locations inside of 2525C (these have in-line comments explaining more specifically). Andy will have to come up with a way to solve this issue.

Some symbols that are in the 2525C Appendix but are referenced in other 2525D XMLs. These

[2014-04-12 00:28] csmoore opened #21 "Add image converter utilities"
Per @abouffard  - add Scalable Vector Graphic (SVG) image converter utilities to repo at   joint-military-symbology-xml\source\Utilities

[2014-04-15 12:04] #12 closed, assigned to nobody

[2014-04-15 12:21] csmoore opened #25 "Create "Image file-Name-Category-Tags" export files from source data"
For each svg/graphic image, we need to be able to create a corresponding entry in a list table of "Image file-name-category-tags" - these tables will be included with the other sample export data in the (sample data folder)[https://github.com/Esri/joint-military-symbology-xml/tree/master/samples]

Below is a sample of the format.

Note: just creating an issue for tracking & **MAJOR problems/issues

[2014-04-15 21:30] csmoore opened #26 "Create repeatable CSV-> Draft XML -> Export CSV Files writeup/steps/doc"
@joebayles mentioned that he still needs Andy to generate the "draft XML" doc's he is using/updating...

So just adding an issue to track the fact that we need some repeatable steps/for doc’ing the ingestion of csv’s to spitting out those draft/base XMLs that he and @jrweakland are starting with. Once the XML is there, we need the steps to go from the XML to the exported csv files (in particular t

[2014-04-16 13:40] csmoore opened #28 "XML Data Import/Entry Status"
This issue is just to capture at a glance the current status of the data import task.

I know we can just check the folder: https://github.com/Esri/joint-military-symbology-xml/tree/master/instance - but this doesn't provide a complete view of the work remaining or if the items there are complete/have significant work remaining.

Simply keep this table updated (i.e. edit this entry) as work progre

[2014-04-16 15:20] #9 closed, assigned to abouffard

[2014-04-22 17:44] joebayles opened #39 "MIL-STD-2525D Issues"
This issue is to track issues found in the draft of MIL-STD-2525D for @abouffard to take back to the committee (@mepler). Some of these may not be issues at all, but in the review they seemed counter-intuitive, so I am listing them here.

|Location|Page|Issue|
|:---------|------:|:--------------------------|
|A-XIX|57|Acquisition is mispelled (130302)|
|A-XIX|58|Equipped is mispelled (140105)|
|A-

[2014-04-22 20:50] #21 closed, assigned to csmoore

[2014-04-22 22:27] joebayles opened #42 "Military Symbology XML Implementation Issues"
This issue is to track problems with the implementation, and the solutions to go with them. @abouffard , please comment in line for each issue so that anyone reading this will know we have a solution.

[2014-05-09 10:32] #18 closed, assigned to abouffard

[2014-05-09 14:09] #6 closed, assigned to nobody

[2014-05-22 12:38] csmoore opened #60 "How do I export the Name, Domain values for the Frames and Amplifiers?"
Just wanted to find out how we generate name-domain tables for these (Frames, Echelons, and other Amplifiers)

And can we get a script to do this added to: https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/entity_modifier_domains_values to do this (and have this added to the "All" version)

Here is a sample of what I would expect to see for frames:

Frame : Reality : Pending

[2014-05-29 13:11] #25 closed, assigned to jrweakland

[2014-05-29 15:02] lfunkhouser opened #63 "Land Installations name and code issues"
1. Entity names are incorrect for all Land Installations
   https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/entity_modifier_domains_values/All_Coded_Domain_Entities.csv#L522
2. Codes are incorrect starting here:
   https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/entity_modifier_domains_values/All_Coded_Domain_Entities.csv#L562

I noticed this when

[2014-06-10 13:16] #60 closed, assigned to abouffard

[2014-06-10 13:26] csmoore opened #67 "Unique IDs not always unique"
We discussed this, just adding an issue for tracking/testing.  I realize the IDs are unique within a given export file, but we need them to be **globally unique** within this repo.

Note: If you change the current ID encoding scheme, make sure you explain/document what that new scheme is.

Some sample unique IDs that are repeated (Note: samples, not a complete/exhaustive list).

Amplifier : Mobili

[2014-06-10 15:39] csmoore opened #68 "Easy way to have a file with all icons in single file?"
Can we also get one additional version of these files with everything, all the icons in one file/place: https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/imagefile_name_category_tags

I'm just seeing if there is an easy way to do this with the app provided, if not I'll just use some batch-ology like (+add a .bat + all file to repo):

[code]

[2014-06-10 20:24] #68 closed, assigned to nobody

[2014-06-11 14:55] csmoore opened #72 "Add remaining Missing icons to the icon exports (ex. FULL_FRAME icons)"
A known issue/already discussed, just adding an issue for tracking/testing.

Currently the only version of the icons exported for FULL_FRAME (center icons that touch the frame) icons are the "_2.svg" (Neutral) version ( [Example](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-Activities-Source-Icons.csv#L63) ).

That was an optimizati

[2014-06-17 15:11] csmoore opened #73 "Move affiliation/identity/dimension to the end of the name for the exports"
Can the affiliation/identity/dimension be moved to the end of the name for the exports (icon, domain)?

The naming of the frames make sense, but for the other amplifiers we might want to the amplifier name to come before the other affiliation/identity/dimension names - [export file here](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-

[2014-06-19 12:47] #63 closed, assigned to lfunkhouser

[2014-06-20 19:28] csmoore opened #76 "EM Dashes Still present"
EM Dash(–) still present in a few files, needs replaced with EN Dash (-)

Files to be fixed (and exports):

https://github.com/Esri/joint-military-symbology-xml/blob/98e3e0f36d34a793a430fb5c1685770039933ed1/instance/jmsml_D_Base.xml

https://github.com/Esri/joint-military-symbology-xml/blob/fa6578147729ea6ad46e6b53d30172dc4f28c565/instance/jmsml_D_Air.xml

[2014-06-21 15:18] csmoore opened #77 ""Oceanograhic" misspelled in all icon export file names"
Example:

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-Weather-Source-Points.csv#L131

[2014-06-21 15:21] csmoore opened #78 "Missing icons to investigate"
List of Missing Icons [from export file](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-All-Icons.csv):

( Note: doesn't include the many from #77 )

Source Symbol does NOT exist: Symbols-061914\svgs\Appendices\Land\10121395_0.svg
Source Symbol does NOT exist: Symbols-061914\svgs\Appendices\Land\10121395_1.svg
Source Symbol does NOT e

[2014-06-23 15:19] csmoore opened #79 ""Headquarters Element" Subtypes/Icons still present"
https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-All-Icons.csv#L210

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-Land-Unit-Source-Icons.csv#L123

[2014-06-24 12:46] #79 closed, assigned to nobody

[2014-06-24 13:21] #67 closed, assigned to abouffard

[2014-06-24 13:24] #73 closed, assigned to nobody

[2014-06-26 13:37] #72 closed, assigned to abouffard

[2014-06-26 13:37] #77 closed, assigned to csmoore

[2014-06-27 12:55] #76 closed, assigned to csmoore

[2014-06-30 00:47] csmoore opened #85 "Bad image file in icon export for Ammunition Transfer Point"
Image file listed as

`ControlMeasures\25320310` but should be `ControlMeasures\25320300`

Export error here:
https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/imagefile_name_category_tags/Military-ControlMeasures-Source-Points.csv#L220

[2014-07-01 13:27] csmoore opened #86 "Include 2525C Symbol ID Code in Export Tags where applicable"
Where there is a mapping (ex. nearly all Control Measures and METOCs should have a 1:1 mapping) include the legacy/2525Charlie Symbol ID Code (SIDC) in the metadata tags used in the exports.

Ex:

Name: Protection Points : Abatis (25280100)

Tags: Control Measure;Protection Points;Abatis;**G-MPOS--------X**;Line;Protection Points : Abatis;25280100

[2014-07-03 12:09] csmoore opened #90 "Icon Exports Improvements"
Not requirements, just a few suggested changes to the [icon exports](https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/imagefile_name_category_tags) for when/if this ever gets updated
- [x] Add some columns (to the right of Tags) for Unique ID and Geometry Type
  1. I realize these are already in the tags, but also having in a separate column will make these easier to work w

[2014-07-03 12:38] #85 closed, assigned to csmoore

[2014-07-03 12:39] #78 closed, assigned to abouffard

[2014-07-14 16:34] csmoore opened #95 "Add new/additional "OCA" icons to the exports"
New/updated MIL_STD_2525D_Symbols\OCA (Operational Condition) [SVG symbols](https://github.com/Esri/joint-military-symbology-xml/tree/master/svg) will also need added to the [exports/samples](https://github.com/Esri/joint-military-symbology-xml/tree/master/samples)

[2014-07-17 14:08] csmoore opened #96 "Update Icon Export sample files to remove "image file does not exist""
It would be extremely useful to be able to see any missing files/errors before trying to use the icon exports at https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/imagefile_name_category_tags - but every entry has "image file does not exist"

Issue also mentioned here: https://github.com/Esri/joint-military-symbology-xml/issues/90#issuecomment-47957317 & here:
https://github

[2014-07-22 20:00] csmoore opened #98 "Image Discrepancies (since 7/21/14 drop)"
An issue to capture image issues found since [7/21/14 drop of SVG Symbols](https://github.com/Esri/joint-military-symbology-xml/tree/master/svg)

Specific Issues:

| Id/Filename | Symbol Set | EntityCode | Name | Issue |
| :-: | :-: | :-: | :-: | :-: |
| 20120902 | Land Installation(20) | 120902 | Infrastructure : Postal | Problem with central icon/fill - partial draw |
| 46130203 & 46130204 | Oce

[2014-07-23 16:49] #16 closed, assigned to joebayles

[2014-07-25 21:00] #96 closed, assigned to csmoore

[2014-08-06 18:57] csmoore opened #103 "Drawing business logic of/constraints imposed by Icon Types?"
I am just trying to completely understand [the business rules that are implied by these icon types](https://github.com/Esri/joint-military-symbology-xml/blob/master/schema/core.xsd#L31)

Can someone confirm/verify these rules are correct?
- MAIN - Normal Case, can have Modifier 1 & 2
- MAIN_1 - Normal Case - but can't have Modifier 1 because area is taken
- MAIN_2 - Normal Case - but can't have Mo

[2014-08-06 19:13] csmoore opened #104 "Incorrect Icon Types for Activities, Sea Surface, Land Unit"
I don't know if this is a global problem, or a problem with just these particular symbol sets but the icon types for all the Activities, Sea Surface icons were missing/incorrect when I tested:

https://github.com/Esri/joint-military-symbology-xml/blob/master/instance/jmsml_D_Activity.xml
https://github.com/Esri/joint-military-symbology-xml/blob/master/instance/jmsml_D_Sea_Surface.xml

Should be al

[2014-08-18 17:57] #103 closed, assigned to abouffard

[2014-08-27 12:27] csmoore opened #108 "Tag/Category Changes before next Icon Csv generation"
There are a couple of things we want to modify in the [Icon csv files](https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/imagefile_name_category_tags) now that these are entering the stabilization phase (and **before we generate these csv's again**):
- [x]  Add 2 columns (to the right of `styleItemTags` and left of `notes`) for `UniqueID` and `GeometryType` (IMPORTANT: this

[2014-09-02 20:14] lfunkhouser opened #109 "Change "OCA" to "Operational_Condition_Amplifier""
Can "Coded_Domain_OCA.csv" be changed to "Coded_Domain_Operational_Condition_Amplifier.csv"?

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/name_domains_values/Coded_Domain_OCA.csv

The other file names are more descriptive (i.e. "Coded_Domain_Air_Entities.csv")

[2014-09-08 18:02] abouffard opened #111 "Civilian frames need to be added to XML and image export"
Civilian (magenta) frames, as a display option for end users, needs to be added to JMSML and exported as additional entries in the image name category tag output.  This won't change the domain range values, but it will introduce more frame svgs/emfs for the style files (magenta versions of some of the current ones).

[2014-09-08 18:15] abouffard opened #112 "OCA data needs to be simplified"
DISA has agreed that there are too many operational condition amplifier svg files and the extra files are redundant.  DISA have provided us a new set of OCA svg files and these need to be incorporated into our XML and image name category tag output.

[2014-09-09 14:19] #95 closed, assigned to nobody

[2014-09-11 23:47] lfunkhouser opened #113 "Amplifier coded value domain contains unrelated values for Echelon"
Units use the Echelon amplifier but not Mobility. Because Mobility is mutually exclusive with Echelon, these should be separate domains.

I propose the Amplifier domain, Coded_Domain_Amplifier, should be split into 2 domains:
1. Coded_Domain_Echelon
2. Coded_Domain_Mobility

[2014-09-13 16:23] #26 closed, assigned to joebayles

[2014-09-18 17:06] csmoore opened #115 "Incorrect Geometry Types for symbols"
Geometry Type should be "Area":

25120400 - Command and Control Areas : Airfield Zone
25241901 - Fires Areas : Zone of Responsibility : Irregular
25241902 - Fires Areas : Zone of Responsibility : Rectangular
25241903 - Fires Areas : Zone of Responsibility : Circular

[2014-09-18 21:20] joebayles opened #116 "Add IconType to non-Main Entities"

[2014-09-18 21:20] #116 closed, assigned to nobody

[2014-09-18 21:22] joebayles opened #117 "Land Unit Special Entities"
Land Unit Special Entities proved especially difficult to translate to XML.

![4-25-2014 5-00-26 pm](https://cloud.githubusercontent.com/assets/5016557/2806873/dfdb65b6-ccd5-11e3-9bdd-ed01c9652089.png)

The issue is that they are separate files and therefore separate layers, but the code seems to indicate there should be separate symbols for each variable (five for Main to Full Octagon symbols, ei

[2014-09-18 21:22] #117 closed, assigned to nobody

[2014-09-18 21:24] joebayles opened #118 "Mine Warfare Alternative Symbols"
@abouffard , we need to adjust the schema to incorporate MEDAL and Alternative icons for Mine Warfare. Here are some screen shots.

![4-26-2014 3-30-41 pm](https://cloud.githubusercontent.com/assets/5016557/2809987/ac1e527a-cd92-11e3-9cb2-4b0d358042d1.png)
![4-26-2014 3-31-56 pm](https://cloud.githubusercontent.com/assets/5016557/2809988/ac30a1a0-cd92-11e3-9bc0-439debeabd60.png)

[2014-09-18 21:26] #42 closed, assigned to joebayles

[2014-09-18 21:27] joebayles opened #119 "Support for Dynamic Symbols"
I'm sure @abouffard already has a way forward, but I don't know how we will implement dynamic symbols like Atmospheric/Wind/Wind Plot (45140200).

@abouffard @jrweakland we need to ensure that we capture all use cases for dynamic symbology here.

Creating issues for each of the sub-sets of this problem:
- [ ] https://github.com/Esri/joint-military-symbology-xml/issues/182 - Wind Plotting
- [ ]  -

[2014-09-23 20:30] #113 closed, assigned to abouffard

[2014-09-23 20:31] #109 closed, assigned to abouffard

[2014-09-23 22:30] lfunkhouser opened #120 "Frames.csv in samples contains standard identity information not frame information"
The values in the Frames csv are standard identity values.  https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/name_domains_values/Coded_Domain_Frames.csv. The proposed fix is to rename the csv to Coded_Domain_Identity.csv

[2014-09-25 12:13] #115 closed, assigned to csmoore

[2014-09-25 15:41] csmoore opened #122 "Support retrieving valid labels/attributes for Control Measures & METOC symbols"
We need some way of determining what attributes / labels are supported for a given symbol. This seems to be defined/supported for the other symbols sets, but for these symbols sets (that have variable sets of attributes used depending on the symbol) they are not yet defined/populated in the source data/XML/sample(s).

[2014-09-25 15:48] #28 closed, assigned to abouffard

[2014-09-25 15:52] #108 closed, assigned to csmoore

[2014-09-30 15:42] csmoore opened #124 "Add retired 2525C symbols to Legacy Symbol Data"
Here were the 2525C symbols that returned null from MakeSymbol ( `MakeSymbol("2525C", symbolId)` or using UI test app)

~~Not sure if this is now the desired behavior or if the retired symbols just need added to the data.~~(Update: these should be added/fixed in the legacy mapping table)

UPDATE: updated this list after retesting this with data from: https://github.com/Esri/military-features-data/

[2014-09-30 16:49] #86 closed, assigned to csmoore

[2014-09-30 16:53] #20 closed, assigned to csmoore

[2014-10-03 13:41] csmoore opened #129 "Create Initial Release"
Now that the data entry work is done and this repo is entering stabilization/fix, let's create a release. Use whatever tagging/version + moniker (Beta, RC, etc.) you want.

I just noticed there hadn't been a release yet so wanted to get this scheduled/tasked.

[2014-10-03 13:45] #90 closed, assigned to abouffard

[2014-10-09 13:06] #120 closed, assigned to lfunkhouser

[2014-10-16 16:46] abouffard opened #131 "Add legacy/conversion support for older versions of 2525 and APP-6"
We've had a recent user community request for enhancing JMSML to support 2525B Change 2.  So I've created this issue to help track/discuss that enhancement.  It is certainly something we have talked about, something to be done sometime after the initial release is complete.

UPDATE based on coversation w/ @joebayles
 - [ ] Assess SIDC code differences between MIL-STD-2525C and MIL-STD-2525B C2 (li

[2014-10-20 14:37] csmoore opened #132 "Support Optional Tags in Schema and Exports"
We would like to be able to
1. Add optional (implementation or domain-specific) tags to the symbols and
2. Have these show up in the [csv icon exports ](https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/imagefile_name_category_tags)

This will enable users to create a domain/feature specific branch/fork to meet their specific needs but not impact the core data model or need

[2014-10-21 15:18] csmoore opened #133 "Produce LegacyMappingTableDtoC Table"
CSM Updated 6/30/15:

The task in to add the unmapped 2525D->C entities to [LegacyMappingTable](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/LegacyMappingTableCtoD.csv) so this table looks similar to the previous manually maintained table "2525C and D comparision.xls" so we have all the needed D and C mapping data in one place.

(i.e. add those unmapped e

[2014-10-21 16:18] #132 closed, assigned to nobody

[2014-10-21 20:14] csmoore opened #135 "Some symbols show "NEW_TO_2525D" Tag but don't look new"
While putting together a list of new Line/Area symbols - I came across numerous entries that don't look like they should be considered new. They should have the 2525C tag fixed and should also show up in the LegacyCtoD table:

These were just a few I noticed (not an exhaustive list):

Maneuver Lines : Forward Edge of the Battle Area : Proposed or On Order	Control Measure : Line	25140401
Maneuver L

[2014-10-27 17:30] #112 closed, assigned to lfunkhouser

[2014-10-28 01:36] csmoore opened #136 "Get SVG Zip unzipped and SVG files managed individually"
Requested by @conklinbd - is it possible to remove the zip from

https://github.com/Esri/joint-military-symbology-xml/tree/master/svg

And manage these files individually under this folder - the zip was supposed to be a short-term solution.

Managing individual files will allow:
- Changes to these files to be more easily viewed/tracked
- Updates to be made by the community to individual files
- Gi

[2014-10-28 18:16] #136 closed, assigned to conklinbd

[2014-11-06 20:03] #98 closed, assigned to csmoore

[2014-11-25 18:38] kjellmf opened #152 "Missing mine warefare medal icon"
I noticed in the 2525D spec that there are a couple of mine warfare symbols that have an alternative icon defined, but no medal icon (`kingfisher` and `small object, mine like`). Is this an error in the 2525D standard?

![image](https://cloud.githubusercontent.com/assets/29217/5159177/78ccb8ac-735b-11e4-8f6f-a8a5ee499bc8.png)

The missing icons can be derived from the alternative icons if they fol

[2014-11-26 07:14] #152 closed, assigned to nobody

[2014-12-02 23:19] #118 closed, assigned to abouffard

[2014-12-04 18:37] kjellmf opened #155 "Add vertical bounding octagon"
In commit e1fe5c40bafd7d472ff41f0ca84ebe9ea5a12f29 you added the bounding octagon graphic, for reference and testing. It could be useful to also have av vertical version of the octagon as well

![image](https://cloud.githubusercontent.com/assets/29217/5303731/4ba3b5f8-7bec-11e4-9836-b9b8fa525959.png)

My suggestion is to have three different octagon graphics:

- `BoundingOctagon.svg` (with no mod1

[2014-12-06 02:05] #129 closed, assigned to abouffard

[2015-01-12 14:45] kjellmf opened #156 "SigInt symbol set modifier folder name should be lowercase"
The [SigInt symbol set](https://github.com/Esri/joint-military-symbology-xml/tree/master/svg/MIL_STD_2525D_Symbols/Appendices/SigInt) is the only symbol set that has a [mixed case modifier folder name](https://github.com/Esri/joint-military-symbology-xml/tree/master/svg/MIL_STD_2525D_Symbols/Appendices/SigInt/Mod1)(`Mod1`). This is not reflected in [jmsml.config](https://github.com/Esri/joint-mili

[2015-01-12 18:15] abouffard commented on #156
Thanks for the comment, kjellmf.  Easily fixed.

[2015-01-12 20:54] kjellmf opened #157 "How can we find the frame of a cyberspace symbol from the symbol identification code?"
Does anyone know how to figure out the correct frame for a symbol in the cyberspace symbol set from the symbol identification code?  According to the 2525D-spec we should pick a standard identity and dimension when drawing a cyberspace symbol. The symbol below is for instance a friendly air webserver.

![image](https://cloud.githubusercontent.com/assets/29217/5710600/d7f5bfee-9aa3-11e4-8e2a-64382b

[2015-01-12 21:08] abouffard commented on #157
That's a known limitation/mistake in 2525D and APP-6(C) Annex A.  The Cyberspace symbol set code (60) should have been broken down into a range of values like was done with SIGINT.  So at the moment, there is no way to determine frame shape based solely on SIDC.  The current plan is to begin work on 2525D Change 1 and APP-6(D) simultaneously, make them the same fundamental standard, and in them ch

[2015-01-12 21:16] kjellmf commented on #157
Thanks @abouffard for the explanation.

[2015-01-12 21:16] #157 closed

[2015-01-15 21:26] abouffard commented on #156
Fixed in #159

[2015-01-16 07:17] #156 closed

[2015-01-26 19:14] abouffard commented on #155
Added vertical bounding octagon and changed the name of the horizontal bounding octagon in merge #162.

[2015-01-26 19:16] abouffard commented on #19
Added in #162

[2015-01-26 23:45] JKCowboy opened #164 "Wrong Shape for some Affiliations?"
It appears the frame shapes for REALITY_LU_FRIEND, EXERCISE_LU_FRIEND. and SIMULATED_LU_FRIEND are not correct (they show CIRCLE for the shape). The MIL Standard 2525D show these should be rectangles for units (TABLE I-III, Pages 12-14).

The XML in jmsml_D_Base.xml

<Affiliation ID="REALITY_LU_FRIEND" ContextID="REALITY" DimensionID="LAND_UNIT" StandardIdentityID="SI_FRIEND" Shape="CIRCLE" Graphi

[2015-01-27 00:48] abouffard commented on #164
Thanks for the feedback.  I'll take a look.

[2015-01-27 01:00] abouffard commented on #164
Fixed in #165

[2015-01-28 09:24] kjellmf commented on #155
Thanks @abouffard.

[2015-01-28 16:29] #164 closed

[2015-01-28 18:50] abouffard commented on #155
I'm waiting on DISA to send me their octagon svg without the sector lines, then I'll add it too.

[2015-01-28 19:08] kjellmf commented on #155
I'm sorry for closing the issue prematurely. For my [symbology explorer](http://kjellmf.github.io/military-symbology-explorer/) I created an "unofficial" bounding octagon manually: [BoundingOctagon.svg](https://github.com/kjellmf/military-symbology-explorer/blob/master/assets/img/BoundingOctagon.svg). Feel free to use it if you don't hear back from DISA.

[2015-01-28 19:38] abouffard commented on #155
Thanks @kjellmf

[2015-01-28 20:50] joebayles commented on #155
@kjellmf , this symbology explorer is AWESOME! Very cool. I'm adding a link to it on the main repo readme, let me know if that's not OK.

[2015-01-28 20:59] conklinbd commented on #155
Yes very nice :+1: @kjellmf

[2015-01-28 20:59] kjellmf commented on #155
Thanks @joebayles. Feel free to add a link.

[2015-01-29 12:24] csmoore commented on #155
That web app is extremely nice and thorough - a great tool/supplement to the standard - especially thanks for the technical description http://kjellmf.github.io/military-symbology-explorer/#/about and the more succinct JSON format

This is yet another great example of how opening/apache-licensing technical data (in this case data model + images) only benefits the community and ensures overall bett

[2015-01-29 15:40] kjellmf commented on #155
Thank you @csmoore and everyone else for the feedback, and thanks for making the data available to everyone!. I'm glad that you liked the web app. It is a fun project to work on and I will try to make it more user friendly and useful.

[2015-01-29 21:22] csmoore commented on #111
Closing - not verified (but I have seen these in the Pro style)

[2015-01-29 21:22] #111 closed

[2015-01-29 21:29] csmoore commented on #19
This is there - could probably use a link to it from one of the other top level readme/documents so it can be found (like https://github.com/Esri/joint-military-symbology-xml/blob/master/documentation/README.md )

[2015-01-29 21:29] #19 closed

[2015-01-29 23:46] abouffard opened #166 "Add a link to the schema overview doc"
Link the schema overview doc to the main README

[2015-02-03 19:30] drdanstephens commented on #124
I am new to this forum and would like to expand on this thread. Our organization works with both US and Coalition forces and we routinely use a generic 2525C symbol code like SFGP-----------. More specifically any generic code like S*GP-----------. This product also returns the unknown invalid when converting the aforementioned symbol codes. It seems that a 2525D SIDC of 1200000000, 0000000000 wou

[2015-02-03 21:38] abouffard commented on #124
Thank you for your contribution, @drdanstephens.

2525D, as published, does not contain 1200000000, 0000000000 as a valid code in its Appendix A.  This repo reflects what is currently supported by 2525D.  If your organization requires this generic SIDC, then you'd have to either petition the SSMC to have it added to 2525D Change 1, via a new Change Proposal, after which we could add it to this off

[2015-02-03 21:47] joebayles commented on #124
@drdanstephens, you may absolutely send a pull request if you've updated the code for this repository. That being said, if your code change is not in concurrence with MIL-STD-2525D, it probably will not be merged.

Regarding your other question regarding generic SIDCs:
As per MIL-STD-2525D, 00000000 (or 12000000) are __not__ valid SIDCs. There is no symbol set 00, or symbol set 12.

Entity code 00

[2015-02-04 13:41] drdanstephens commented on #124
Thanks for the feedback. I am not sure what I was thinking when I provided the SIDC. What I meant was something like 1003100000, 1400000000. In your tool this give the blue box I would expect for a SFGP----------- symbol code. However, when I enter SFGP----------- in your tool I get a symbol for unknown and a note that it has been retired. As I said before we use the SFGP---------- in many venues

[2015-02-04 14:00] wmcgrane commented on #124
Dr. Stephens:
Thank you for your inquiries and comments about 2525D.
At this point, DISA decided to simply make the standard and its graphics available free of charge and without any particular requirements for developing the software for implementing it.  We are leaving that up to the programs.  We do think that the Esri GitHub site is a great place to present ideas and issues and I would encoura

[2015-02-04 16:48] drdanstephens commented on #124
Bill,
Thanks for the feedback. I work for the Army and we collaborate with DISA via the GCCS-J program. Who would the points of contact be for these two entities?

[2015-02-04 17:07] csmoore commented on #124
A really good discussion - since I entered the original issue and instigated this I will just try to sum things up and tie up the lose ends (even at the risk of continued discussion):

1. The original issue where there were some 2525C IDs missing from the legacy mapping table is still valid - its a problem with the data so should be able to be fixed here without a Change Request

The other issues

[2015-02-04 19:50] wmcgrane commented on #124
The Army POC for symbology is Mr. Carlos Soto.
For GCCS-J, that would be COL Lyttle.
They are Cc'd on this message.  You may contact them directly.

Regards,

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: drdanstephens [mailto:notifications@github.com]
Sent: Wednesday, February 04, 20

[2015-02-04 20:08] joebayles commented on #124
@wmcgrane ,
 GitHub doesn't put the email metadata into your comments, so the contact information for Mr. Soto and COL Lyttle did not make it.

[2015-02-04 20:25] wmcgrane commented on #124
Thanks.  I'll re-send with contact info in the body of the message.

Bill

-----Original Message-----
From: Joe Bayles [mailto:notifications@github.com]
Sent: Wednesday, February 04, 2015 3:08 PM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA EE (US)
Subject: Re: [joint-military-symbology-xml] Add retired 2525C symbols to Legacy Symbol Data or desired behavior? (#124)

@wmcg

[2015-02-04 20:29] wmcgrane commented on #124
Dr. Stephens:
I'm told that the e-mail data for Mr. Soto and Mr. Lyttle did not  get included in my previous message, so here is their information:
Carlos Soto:  carlos.l.soto3.civ@mail.mil  (913) 684-2601
COL Brian Lyttle: brian.j.lyttle.mil@mail.mil  (301) 225-5278

Bill McGrane

-----Original Message-----
From: McGrane, William M CIV DISA EE (US)
Sent: Wednesday, February 04, 2015 2:50 PM
To: '

[2015-02-04 20:47] drdanstephens commented on #124
Thanks for all of the feedback. It looks like @csmoore has summed up this discussion thread quite nicely.

[2015-02-06 16:21] wmcgrane commented on #124
Dr. Stephens:
Do you have a work e-mail where I can contact you.  The GCCS-J POC info that I sent was incorrect and the person asked that I provide you with her e-mail address only and not send it to you through GitHub.

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: drdanstephens [mai

[2015-02-06 16:26] drdanstephens commented on #124
My work email is daniel.o.stephens2.ctr@mail.mil

[2015-02-11 22:35] abouffard commented on #166
Added in #167

[2015-02-11 22:35] #166 closed

[2015-02-12 01:04] abouffard commented on #104
Completed and merged in PR #169.  All icon types reviewed and updated where mistakes were found.  This can now be closed at your discretion.

[2015-02-12 01:06] abouffard commented on #155
Sectorless bounding octagon added in PR #169.

[2015-02-12 12:11] csmoore commented on #104
Just a gentle reminder, if you are managing this repo like the other solutions repos, don't forget to assign the issue to the originator to verify (and label/comment "to verify")

[2015-02-12 12:11] #104 closed

[2015-02-12 13:08] kjellmf commented on #155
Excellent. Closing this issue now that all the octagons have been added.

[2015-02-12 13:08] #155 closed

[2015-02-12 16:30] JKCowboy opened #170 "Land Unit SectorOne Modifier Addition and color correction for 10751.svg"
I created a pull request https://github.com/Esri/joint-military-symbology-xml/pull/168 that should provide the solution to these two issues (my first, so hopefully it is correct).

1) Land Equipment does not have a reference to "Not Applicable" SectorOne Modifier ("00"). This change adds this so tools can display this for drop downs, etc.

2) 10751.svg used a blue color to display the SectorOne Mo

[2015-02-13 18:56] abouffard commented on #135
These are, in fact, new symbols in 2525D.  They are not new in terms of what they represent, but they are new in terms of the way they represent information.

They are also redundant, being an oversight and the result of some confusion between the Army and DISA. They all use an entity type or entity subtype code to define information about standard identity and/or status, and are therefore redunda

[2015-02-13 19:45] csmoore commented on #135
So, just to confirm - these can't possibly be mapped to a 2525C IDs?

[2015-02-13 20:10] ottenw commented on #135
@abouffard Very happy to see this CP ... fixing this identified error was on my list of change proposals to write.  Thanks!

[2015-02-13 21:33] wmcgrane commented on #135
DISA is reviewing this request and it has been given the CP tracking number of 15-022-DS (meaning:  submitted in Year 2015, #22 in the queue, sponsored by DISA).  If accepted by DISA as a valid request, it will then be distributed to the Services and Agencies for symbology for comment and those finding presented at the joint JSP/SSMC meeting 16-20 March 2015 for the CCB's consideration into 2525D

[2015-02-14 05:22] abouffard commented on #170
Thanks @JKCowboy.  I fixed the blue cross in 10751.svg.  As I explained in my comment to #168, I don't want to change the land equipment modifier list at this time, as adding a not applicable value would have to be considered for all the modifiers and I'm not convinced the XML needs to hold that information.  Its something we'll discuss at the next SSMC meeting in March.

[2015-02-14 05:41] abouffard commented on #135
@csmoore, the original issue here was that I'd used the NEW_TO_2525D tag on these and you were pointing out, rightly so, that they didn't look new.  I think I've adequately explained why they don't look new but in fact are new.  The policy here with JMSML is that symbols that are new to 2525D, by definition, don't map back to 2525C, because the mapping would not end up being bi-directional.  You'v

[2015-02-16 15:33] csmoore commented on #135
I was originally just asking for the 2525C tag to be added to those - but closing since sounds like this is a "wont fix" (at least as far as 2525D.0 is concerned).

Also sounds like it is becoming more of a global issue that there is a need to clarify the interoperability requirements between systems using 2525C and 2525D (I don't yet see an open CP for this [here](https://github.com/Esri/joint-mi

[2015-02-16 15:36] #135 closed

[2015-02-23 23:49] joebayles commented on #39
@abouffard ensuring that these are still an issue and creating a CP.

[2015-02-24 21:16] abouffard commented on #39
Above errors have been reviewed, in light of the June 10th final pdf version of 2525D, and a new change proposal has been authored and submitted, recommending these errors be fixed in 2525D Change 1.

https://github.com/Esri/joint-military-symbology-xml/blob/master/documentation/change_proposals/CP_Esri_022415-1.doc added in #173

@joebayles , I recommend we close this issue and continue tracking

[2015-02-24 21:30] joebayles commented on #39
Verified.

[2015-02-24 21:30] #39 closed

[2015-02-27 17:04] kjellmf opened #174 "Static/Dynamic control measures question"
In the official 2525D PDF you find that many control measures have a Static/Dynamic or Shape/Size attribute. I assume that static means that the control measure is a single point, while a dynamic one consists of multiple points/segments etc.

![image](https://cloud.githubusercontent.com/assets/29217/6416842/6bf451e6-bea9-11e4-84b9-bba8c3fdc279.png)

In the JMSML schema I can't find any static/dyna

[2015-02-27 17:42] abouffard commented on #174
Good question @kjellmf .  I'd like to see what @mepler and @wmcgrane have to say regarding the definition of static vs. dynamic in the control measure documentation.  We have plans to add more geometric/draw rule intelligence to the XML, so this information will probably be better captured that way.

[2015-02-27 18:08] kjellmf commented on #174
I'm trying to figure out how to draw control measures on a map (web.application).  For point geometries I can use the SVGs bundled with JMSML directly. Line and area control measures are a lot harder to draw. More meta data in the XML, like for instance anchor points, will  hopefully make this easier.

[2015-02-27 20:20] abouffard commented on #174
Yup, that's the idea.  Our own implementation has all those anchor points defined and maintained externally.  I'd like to see them centralized inside JMSML so that all implementers are working from a common definition of these.  Same goal for label placement logic/rules.

[2015-03-03 18:01] csmoore opened #175 "Update SVG Known Issues (and add SVG file/id column)"
I noticed these show up in the [KNOWN_ISSUES table](https://github.com/Esri/joint-military-symbology-xml/blob/master/svg/KNOWN_ISSUES.md) but look fixed:

http://kjellmf.github.io/military-symbology-explorer/#/explore/10041010111213030000
http://kjellmf.github.io/military-symbology-explorer/#/explore/10061010111213030000
http://kjellmf.github.io/military-symbology-explorer/#/explore/10041000001204

[2015-03-03 19:03] abouffard commented on #175
Thanks for the reminder.  Those have all been fixed.

[2015-03-03 20:51] csmoore commented on #175
Good deal - if those issues from that current table have all been addressed, then the only remaining known svg issue that comes to mind for me is the issue with the different/various reference sizes used for the control measure and weather points - is that issue being tracked somewhere in this repo (I remember discussing at length, just not sure where it is being tracked)?

Ex:

Small:
http://kjel

[2015-03-03 21:14] abouffard commented on #175
Nope, its is not currently being tracked.  I'll write a CP this week to have those size differences fixed/addressed and submit it to DISA and we'll track it that way.

DISA will review it, as will the Service reps, and if they feel for some reason those sizes are appropriate, they'll let us know.  Otherwise, they'll know to fix them for Change 1.

I'll also add it to the svg issue doc when I updat

[2015-03-07 16:46] kjellmf opened #177 "Special symbols with no frame"
The [`Own Ship` symbol](http://explorer.milsymb.net/#/explore/10033000001500000000) in the sea surface symbol set, is a special symbol with no frame. This information is not available in the [JMSML schema](https://github.com/Esri/joint-military-symbology-xml/blob/master/instance/jmsml_D_Sea_Surface.xml#L577). Maybe you could extend the schema to include this information?

One approach could be to

[2015-03-10 19:27] wmcgrane commented on #174
All:

Yes, these terms should be more accurately defined in order to avoid any misinterpretation and incorrect usage.  The definitions currently in the standard are as follows:
Paragraph 3.2.14.  Dynamic amplifier.  An amplifier whose size and placement are based on the attributes of an object and can change as these attributes and the scale of the background change.
Paragraph 3.2.41.  Static ampl

[2015-03-10 20:36] ottenw commented on #174
Classification: UNCLASSIFIED
Caveats: NONE
Good Afternoon Everyone,

  My two cents worth - as I believe that control measure symbols are a bit challenging due to their complexity and variety.  As the original words in this thread stated "...the definition of static vs. dynamic in the control measure documentation", I thought I would first research the older versions of MIL-STD-2525 to see the ori

[2015-03-10 21:06] kjellmf commented on #174
Thank you for the clarification regarding dynamic vs static control measures. From the comments I conclude that I can interpret entities with  `GeometryType="POINT"` (default value) as static and other values as dynamic.

[2015-03-11 10:57] wmcgrane commented on #174
Bill Otten:
Thank you for your input.  I could make the time to discuss by turning this into a CP and adding it to the list for discussion.  That thought had crossed my mind, so if I get the opportunity this week, I will draft a CP sponsored by DISA, and with your permission, I will use the language you've stated below as part of the CP.

Bill McGrane
Chair, Symbology Standards Management Committe

[2015-03-11 13:18] wmcgrane commented on #174
Thanks.

-----Original Message-----
From: ottenw [mailto:notifications@github.com]
Sent: Wednesday, March 11, 2015 9:15 AM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA EE (US)
Subject: Re: [joint-military-symbology-xml] Static/Dynamic control measures question (#174)

Classification: UNCLASSIFIED
Caveats: NONE
Good Morning Bill McGrane,

Thanks - feel free to use the langu

[2015-03-19 04:15] abouffard commented on #177
Sorry for the delay in commenting, @kjellmf.  I'll have to give this idea some thought,

[2015-03-20 18:24] kjellmf commented on #174
Closing this now that the meeting is over and I got my answer.

[2015-03-20 18:24] #174 closed

[2015-03-20 18:28] abouffard commented on #174
We ran out of time this week in the SSMC/JSP meeting to have an in-depth discussion regarding the terms static and dynamic and their usage within the standards.  I think a comprehensive review of the control measure symbols and the way they are presented in the document will be part of the ongoing development of 2525D Change 1 and APP-6(D).

[2015-03-20 18:37] abouffard commented on #175
[CP 031815-1](https://github.com/Esri/joint-military-symbology-xml/blob/master/documentation/change_proposals/CP_Esri_150318-1.doc) has been authored and submitted to cover these size issues and was Deferred by the SSMC at the SSMC/JSP 15-1 meeting.  DISA intends to bring this back up at a later date (the next meeting) after they have a chance to review the svg files and have their contract suppor

[2015-04-13 16:47] joebayles commented on #177
Need to  check any other symbols that do not require frames. @abouffard

[2015-04-13 17:06] joebayles commented on #175
Since this issue has been rectified (CP created and submitted), we can just track the CP.

[2015-04-13 17:06] #175 closed

[2015-04-13 17:21] joebayles commented on #170
@abouffard @JKCowboy the current Esri implementation for 2525D starts the modifier list at 01, so 00 isn't an option on the list. This is detrimental in two ways:

 1. If ArcGIS is set up to consume SIDC codes (which it currently isn't, only set up for coded domain values), it will most likely throw an error when it sees extra 00s that have been truncated in the system.
 2. If ArcGIS is set up to

[2015-04-13 17:25] joebayles commented on #170
Additionally, @abouffard should submit a CP to the SSMC to update the Modifier 1 and 2 tables with the verbiage they want ("Unspecified" vs. "Not Applicable"), and the appendices with the 00 values (currently, they start at 01).

[2015-04-13 17:47] joebayles commented on #133
@abouffard will add the .csv to the JMSML, and link it here.

[2015-04-13 17:50] joebayles commented on #131
Low Priority... they should look to update their systems.

[2015-04-13 18:00] joebayles commented on #124
Closing this issue, since it has been submitted as change proposals and can be tracked there.

[15-034-DS](https://github.com/Esri/joint-military-symbology-xml/documentation/change_proposals/CP_Esri_150318-3.doc) - _Add guidance for handling retired symbols_
[15-036-DS](https://github.com/Esri/joint-military-symbology-xml/documentation/change_proposals/CP_Esri_150318-2.doc) - _Allow unspecified en

[2015-04-13 18:38] conklinbd commented on #131
Disagree. This is a high priority for interoperability with older systems. Many systems will send messages with 2525B Change 2 Symbol ID codes and users would expect to be able to see that data.

[2015-04-13 21:08] joebayles opened #182 "Dynamic Symbols: Wind Plotting"
This issue is to support creating dynamic symbols for wind plotting, continued from https://github.com/Esri/joint-military-symbology-xml/issues/119.

@mepler (or DISA support staff): You need to provide separate .svg files for:
 - [ ] Each iteration of the point to depict cloud cover
 - [ ] The wind direction shaft (if there are different lengths, one for each)
 - [ ] The barbs and pennants depict

[2015-04-14 13:06] wmcgrane commented on #131
Gentlemen:
Questions from a DISA perspective:

Is there still disagreement with Mr. Bayles' comment that this is a low priority, given the results of the change proposals to which he refers in a separate posting?
Is Mr. Bayles priority level designation is from an Esri perspective?
Is Mr. Conklin's disagreement from a COCOM and/ or Program perspective?

Regards,

Bill McGrane
Chair, Symbology Stan

[2015-04-14 16:25] wmcgrane commented on #182
concur with abouffard suggestion to submit CP for this change.  has mepler been following these conversations?

[2015-04-14 16:39] abouffard commented on #182
Don't know if @mepler has been following.

[2015-04-14 16:54] joebayles commented on #131
@wmcgrane,
  This was a discussion of _relative_ vs. _absolute_ priority (the scope of ESRI work backlog vs. necessity from a COCOM/program perspective. We still intend on providing backwards compatibility to MIL-STD-2525B Ch. 2, and have change the priority from low to high. We plan on beginning work on that _relatively_ soon.

[2015-04-14 17:01] joebayles commented on #131
Per discussion w/ @abouffard, I've added the list of things to accomplish in the original issue.

[2015-05-12 09:30] jrweakland opened #184 "Wavy Line Weather/METOC Symbols do not display curves in Desktop/Runtime Export"
_From @csmoore on February 7, 2014 2:11_

Lines with curved effect do not display in Desktop or Runtime Dictionary.GetSymbolImage (they were working with MessageProcessor on Map though)

Marginal Visual Flight Rule (MVFR),WA-DBAMV----A-- (Mil2525C)
W*A*FV----*****	Visual Ceiling (APP6B)

As a workaround, the Curved Effect has been removed from the Representation Rule until this issue is addressed

[2015-05-12 10:50] wmcgrane commented on #184
Jim:
Was the Curved Effect a capability that was available in 2525 Charlie but now not functional in 2525 Delta?
Or is it due to a Desktop/Runtime Export issue?

In other words, is the problem with the standard or with the program?

Regards,

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
Fr

[2015-05-12 12:18] csmoore commented on #184
This is an issue with this actual ArcGIS Style/implementation (so should probably be moved back to the other repo).

Note: this is still an issue with the polygon symbol in current 2525D style/x.

![image](https://cloud.githubusercontent.com/assets/3090809/7586823/d815b694-f87e-11e4-9776-ce5c816c9f46.png)

Left (from standard/SVG) - Right (in 2525D in ArcGIS Pro)

[2015-05-12 14:11] jrweakland commented on #184
This issue was moved to Esri/military-features-data#65

[2015-05-12 14:11] #184 closed

[2015-05-19 17:33] abouffard commented on #170
Closing this as 00 modifiers have been added to the v.next branch and successfully tested with Military Features Data.

[2015-05-19 17:33] #170 closed

[2015-05-21 16:30] ottenw opened #185 "Satellite Symbol Difference between MS2525C and MS2525D"
There is a difference in the positioning of the "dish" on the satellite symbols between MS2525 versions.  Did this occur by design?  Does the difference matter?

![satellite symbol difference](https://cloud.githubusercontent.com/assets/6909159/7753647/723d89de-ffac-11e4-936e-88e5f45e295a.jpg)

[2015-05-22 12:25] wmcgrane commented on #185
Bill:  Good catch.  I am not aware of any reason for flipping the dish positioning.  It could be a simple error in the drawing of the symbol.  Sans any definitive response either way from the SSMC, I will need to contact the contractor who designed the graphic (when and if he becomes available).

[2015-05-23 14:21] kjellmf commented on #185
My guess is that this is by design. There are many more satellite symbols in 2525D than in 2525C. I C you basically only have three different satellite symbols. In D you have more than eleven. Here are a few of them:
![image](https://cloud.githubusercontent.com/assets/29217/7784461/ca16982e-0166-11e5-86e7-db5e16d56cab.png)

Having the dish on top makes sense when you compare with the other types o

[2015-05-26 19:58] abouffard opened #186 "15-022-DS, Remove Redundant Control Measures"
Remove the following control measures as they are all redundant (all of the following control measures duplicate information already captured in standard identity and/or status and can still be represented with the control measures that remain).  The SIDCs shown in parentheses are the parent SIDCs that can still be used to represent the removed symbols.

25-140101 (25-140100)
25-140102
25-140103
2

[2015-05-26 20:06] abouffard opened #187 "15-024-AR, Corrections to Amplifier AS Field Title, Definition, and Usage Rules"
Modify MIL-STD-2525D to standardize the field title, description, and use of Amplifier AS and both numeric and alphabetic country codes.  See below.

MIL-STD-2525D - Detailed Requirements, page 23 – Proposed Solution:

MIL-STD-2525D – Appendix A, Symbol Identification Codes, page 126 – Proposed Solution:

A.5.5 Third Ten Digits. The conditional set C of the SIDC is to accommodate national modifica

[2015-05-26 20:08] abouffard opened #188 "15-026-AR, Corrections to Amplifier AP Field Title and Usage in Tables VII and H-II"
Modify MIL-STD-2525D Table VII to either replace the “3” in column “E” with a dash “-“, or delete modifier / amplifier AP from Table VII, as it is only applicable to Control measure Symbol and is correct in Table H-II.  See below.

MIL-STD-2525D - Detailed Requirements, page 23 and Appendix H, table H-II, page 391 – Proposed Solutions:

[2015-05-26 20:14] abouffard opened #189 "15-027-AR, Add New Conditional Amplifier to Table H-II"
Add a new conditional amplifier to MIL-STD-2525D Table H-II for Target Number Extension.  A target number extension is a sequentially assigned number identifying the individual elements in a target.   This definition of target number extension is currently included in a U.S. military standard, and will be included in STANAG 5519 when published.  See below.

MIL-STD-2525D – Appendix H, Table H-II,

[2015-05-26 20:18] abouffard opened #190 "15-029-AR, Correction to Minimum Safe Distance (MSD) Control Measure Symbol"
Remove the third circle from this control measure.  Update the draw rules to include removing the note.  Proposed solution is located on page 6.

![image](https://cloud.githubusercontent.com/assets/4564846/7822335/6ce43aa2-03ba-11e5-84fc-462dbb769e20.png)

Proposed Solution:

![image](https://cloud.githubusercontent.com/assets/4564846/7822350/7f974496-03ba-11e5-9422-6727ac04208e.png)

[2015-05-26 20:22] abouffard opened #191 "15-031-AR, Correction to Table H-XIV Maritime Controls Measures – No Attack Symbol Template"
Remove the box around the letter “N” in the symbol template.  See below.

![image](https://cloud.githubusercontent.com/assets/4564846/7822406/e75b79ee-03ba-11e5-8da2-f8dc3eb4b233.png)

[2015-05-26 20:30] abouffard opened #192 "15-036-DS, Allow Unspecified Entities"
Add a new first row in each of TABLES A-VII, A-XIII, etc. (i.e., all the Appendix A entity/entity type/entity subtype icon-based tactical graphic tables), and make this new first row have its Entity as “Unspecified” and its Code is 000000.  The “Unspecified” Entity and its code 000000 does not apply to any unframed symbology sets.

Add the following to the Appendix A guidance for Entity/Entity Typ

[2015-05-26 20:35] abouffard opened #193 "15-037-AR, New Section 1 Modifier for command post node"
Establish a “command post node” Sector 1 Modifier.
The proposed sector 1 modifier is the acronym for command post node:

**CPN**

Usage example:

![image](https://cloud.githubusercontent.com/assets/4564846/7822651/a5b7f006-03bc-11e5-8c6a-794149365fb7.png)

Command post node is a communications platform that provides SIPRNET, NIPRNET, secure and non-secure VoIP, battlefield video teleconferencing,

[2015-05-26 20:37] abouffard opened #194 "15-038-AR, New Section 1 Modifier for “joint network node”"
Establish a “joint network node” Sector 1 Modifier.
The proposed sector 1 modifier is the acronym for joint network mode.

**JNN**

Usage example:

![image](https://cloud.githubusercontent.com/assets/4564846/7822708/18456b26-03bd-11e5-8b53-98f07be69975.png)

The Joint Network Node is a communications platform that extends network services, provides network management and prioritization, and provid

[2015-05-26 20:39] abouffard opened #195 "15-039-AR, New Sector 1 Modifier for “retransmission site”"
Establish a “retransmission site” Sector 1 Modifier.
The proposed sector 1 modifier would be an abbreviation for “retransmission”:

**RTNS**

Usage examples:
![image](https://cloud.githubusercontent.com/assets/4564846/7822747/482f7840-03bd-11e5-8b69-79a64137002b.png)

![image](https://cloud.githubusercontent.com/assets/4564846/7822749/4ca05926-03bd-11e5-834b-9f6c81984514.png)

Retransmission site

[2015-05-26 20:55] ottenw commented on #186
@abouffard FYI - I drafted a new CP to submit to Army rep to remove redundant 110101, 110102, and 110103.

[2015-05-26 21:12] abouffard commented on #186
Thanks for the warning @ottenw .  I plan to have all these approved 15-1 CPs implemented in JMSML prior to 15-2.  After 15-2 I'll add everything approved from that meeting to our open issue list and we'll continue in that pattern until and if DISA takes it over.  We'll then encourage them to do the same moving forward, when they own it.

[2015-05-27 06:36] jrweakland commented on #194
@abouffard - please provide a milestone for this issue.

[2015-06-04 13:18] csmoore opened #196 "Add missing/retired 2525C symbols to C->D Symbol Mapping Table (Redux)"
I originally opened this issue as #124, but that issue appears to have been [closed for an unrelated issue](https://github.com/Esri/joint-military-symbology-xml/issues/124#issuecomment-92446172) (& just a process reminder to let the issue originator verify the issue where appropriate/possible).

The original issue is that these valid 2525C symbols are missing from the [LegacyMappingTableCtoD](http

[2015-06-04 16:37] abouffard opened #197 "Typo in domain "Principle Direction of Fire" should be "Principal Direction of Fire""
_From @BobBooth on June 3, 2015 19:55_

In Control Measures : Maneuver Lines the domain value is "Principle Direction of Fire" with an "le" - should be "Principal Direction of Fire" with an "al".
@csmoore @abouffard

_Copied from original issue: Esri/military-features-data#81_

[2015-06-04 16:37] abouffard commented on #197
_From @csmoore on June 4, 2015 11:13_

Good catch - this will need fixed in the JMSML source data ( https://github.com/Esri/joint-military-symbology-xml/search?utf8=%E2%9C%93&q=Principle&type=Code )

& addressed when the domains are regenerated ( #80 )

[2015-06-04 19:22] csmoore opened #198 "LegacyMappingTableCtoD 2525DeltaName column - many entries have ": Unknown""
Many of the entries in the "2525DeltaName" column of the [LegacyMappingTableCtoD ]
(https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/LegacyMappingTableCtoD.csv
) have extra/superfluous ": Unknown" appended to the name

Ex: https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/LegacyMappingTableCtoD.csv#L112

The ": Unknown" s

[2015-06-05 12:02] wmcgrane commented on #197
Just some info supporting Andy's correction:  http://www.diffen.com/difference/Principal_vs_Principle
Great site, by the way.  Explore some of the other "differences" discussed.   :-)

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: Andy Bouffard [mailto:notifications@github.com]
Sent:

[2015-06-05 12:37] wmcgrane commented on #196
Chris Moore:
The information you are looking for is on the second tab of the attached spreadsheet.  The second tab includes a list of symbol codes from 2525C that were removed from 2525D.   For example, a worksheet search of "GPEWDLS" returns several instances in the "Symbols removed" tab (i.e. Column A, Line 60:  Weapon, Direct Fire Gun, Medium, Self-Propelled).

Andy Bouffard:
Does this GitHub s

[2015-06-05 13:00] csmoore commented on #196
I guessed these were likely removed/retired, I was mainly just asking that they be added to that table so an implementer would know this. For now I just manually added them to [my version of the table here](https://github.com/csmoore/military-feature-toolbox/blob/v.next/toolboxes/mil2525d/tooldata/LegacyMappingTableCtoD.csv#L1957).

I likely would not of even noticed this, but the small 2525C samp

[2015-06-05 14:34] wmcgrane commented on #196
Chris:
Yes, and that's sort of what I was suggesting:  that the list of removed symbols/id codes be added to the table or added as a separate table for reference.

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: Chris Moore [mailto:notifications@github.com]
Sent: Friday, June 05, 2015 9

[2015-06-05 17:47] csmoore commented on #124
Sorry for posting to this closed issue - but I wasn't sure how to comment on "15-034-DS - Add guidance for handling retired symbols" (some of the CPs are in issues & some are in word docs)

Now that we have the 2525C->D translation hooked up using the data in the repo, I just wanted to provide a concrete/additional example of what happens when the "removed/retired" symbols all get mapped to "Inval

[2015-06-05 20:28] abouffard commented on #124
Thanks @csmoore.  The CP (15-034-DS) was discussed in committee at SSMC 15-1 and was deferred, as it was felt more thought had to be given by the voting members.  They wanted to go away and confer with their "users" about this.  I'll make sure this CP is revisited at 15-2 in July and your example above will be cited.  @wmcgrane can we please make sure this is added to the SSMC 15-2 agenda?  Thanks

[2015-06-06 16:57] csmoore commented on #124
Thanks - that would be great if it could be added to the next meeting.

As part of that discussion or as an additional CR (since that [15-035-DS CP](https://github.com/Esri/joint-military-symbology-xml/blob/master/documentation/change_proposals/CP_Esri_150318-2.doc) is fairly limited in scope) it would be good to discuss/address if and how 2525C and 2525D systems should be expected to interoperate

[2015-06-08 11:18] wmcgrane commented on #124
Is it possible that the reason that the D-to-C backward mapping has 100's of symbols that don't correspond because there have been several hundred new symbols added to D (particularly Navy) that did not exist in C?    In that case, backward mapping would not be possible.   Is my logic flawed here?

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section

[2015-06-08 12:24] csmoore commented on #124
I think it is mainly a question of how you do the mapping.  Probably at a minimum, a non-directly-mappable symbol should still show its affiliation and symbol set the same on both C&D systems. Using the current table/method, if a direct C<->D mapping doesn't exist between either standard/system, the symbol just gets mapped to "unknown/invalid".

Whereas if the committee identified an acceptable al

[2015-06-08 16:39] abouffard commented on #124
The larger issue/more numerous example is with the many more symbols one can produce with D using the optional sector one and/or sector two modifiers with an icon in a frame.

If you use a BOR (Border) sector one modifier with an infantry icon in a D system, how does that draw in a C system, as an Unknown symbol or as just an Infantry icon (withouth the "BOR")?

![10031000161211000500](https://clo

[2015-06-16 13:42] wmcgrane commented on #124
Chris Moore and Andy Bouffard:
I would like to add this topic to the SSMC portion of the meeting.   Would either or both of you be open to being the person(s) who initiate(s) the discussion and explain these concerns to the attendees?  Coming directly from you would be helpful to their understanding the problem and possible solutions(s).
So you can start the discussion and we will let it run its c

[2015-06-16 14:57] abouffard commented on #124
I'll be there so I'll lead the discussion Monday afternoon.

Thanks Bill.

--Andy

-:-Sent from my iPhone-:-

On Jun 16, 2015, at 08:42, wmcgrane <notifications@github.com<mailto:notifications@github.com>> wrote:

Chris Moore and Andy Bouffard:
I would like to add this topic to the SSMC portion of the meeting. Would either or both of you be open to being the person(s) who initiate(s) the discussio

[2015-06-19 21:36] spatialillusions opened #199 "Mine warfare icons question"
Hi,

I got a question about the mine warfare icons. I'm building my own implementation of 2525D and I kind of got stuck on the mine warfare icons.
The mine warfare symbols have both a Framed medal icon, and a framed alternative icon, how do you choose what to use?
My first idea was to use the framed medal when you had color, and the framed alternative when you were using monocolor, but that dosen'

[2015-06-20 01:05] jrweakland commented on #199
@spatialillusions - @abouffard will be out of the office next week but should be able to provide some guidance once he gets back.

[2015-06-23 14:29] csmoore opened #200 "Add Additional domain exports (ex. Context and Land_Unit_Special_Entity_Subtype)"
Please add these additional/missing domain exports to
https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/name_domains_values

For more information on where these domains are referenced in the standard, please see 2525D Table VII and TABLE D-II.

`*` - recall that each domain file has the convention of Coded_Domain_{domain}.csv

- [x] Context `*`

Name	Value
Reality	0
Exercise

[2015-06-23 15:27] csmoore opened #201 "Remove Special Entity Subtypes from Coded_Domain_Land_Unit_Entities"
These values should be removed from Coded_Domain_Land_Unit_Entities.csv

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/name_domains_values/Coded_Domain_Land_Unit_Entities.csv#L193

Special Entity Subtypes : Headquarters Element  XXXX95
Special Entity Subtypes : Division and Below Support  XXXX96
Special Entity Subtypes : Corps Support  XXXX97
Special Entity Subtypes : Th

[2015-06-26 19:30] csmoore commented on #124
For your 2525D->C mapping discussion, I created a table that shows the symbols/icons tagged "NEW_AT_2525D" that presumably don't map to a 2525C symbol (it is about 500 symbols) - these are the base symbols without the modifiers (so we are not yet talking about what to do with the upmapped modifier combinations - though eventually some guidance on that would be good also) - for now I was just looki

[2015-06-26 19:53] wmcgrane commented on #124
Topic added for discussion at next joint SSMC/JSP meeting, July 27-31.

Bill McGrane
Chair, Symbology Standards Management Committee
DISA BDC/EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: Chris Moore [mailto:notifications@github.com]
Sent: Friday, June 26, 2015 3:30 PM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA BDC (US)
Su

[2015-06-26 20:39] joebayles commented on #124
@csmoore -

@abouffard and @wmcgrane - Didn't @ottenw (For some reason I can't link to his name) create a table just like that? Should probably make sure those tables concur with each other.

Additionally, I'm going to open this back up so we can see these comments during the discussion in July.

[2015-06-29 14:25] csmoore commented on #124
I wasn't sure if that spreadsheet was still maintained - In case it helps, I extracted the entries from the latest version I have of that spreadsheet "2525C and D comparision-updated.xls"(25 July 2014) - here: https://gist.github.com/csmoore/9b53c4264709a1b9fa47 `*`

There are differences between the data from this repo (which shows 478 new 2525D symbols) and the spreadsheet extract (which shows 6

[2015-06-29 14:29] csmoore commented on #133
Would it be possible to reopen this issue - getting a current/definitive list of 2525D->C mapped symbols from this repo is becoming an issue: https://github.com/Esri/joint-military-symbology-xml/issues/124#issuecomment-116699643

[2015-06-29 14:31] wmcgrane commented on #124
Chris:
Okay, I understand now.
Thanks!

Bill McGrane
Chair, Symbology Standards Management Committee
DISA BDC/EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: Chris Moore [mailto:notifications@github.com]
Sent: Monday, June 29, 2015 10:26 AM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA BDC (US)
Subject: Re: [joint-military-symb

[2015-06-30 04:38] jrweakland commented on #124
:+1:

[2015-06-30 05:04] jrweakland commented on #133
Reopened @csmoore request.

[2015-06-30 10:51] csmoore commented on #133
Thanks for reopening -  just to sum up/clarify the issue - the task in to add the unmapped 2525D entities to [LegacyMappingTable](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/LegacyMappingTableCtoD.csv) so this table looks similar to the previous manually maintained table "2525C and D comparision.xls" & we have all the D and C data in one place.

(i.e. ad

[2015-06-30 18:30] spatialillusions commented on #199
Ping, is @abouffard back? Would be nice to get some guidance before I try to make some kind of implementation.

[2015-06-30 20:49] joebayles commented on #199
@spatialillusions I think you're right that it's basically a question of color vs. monochrome. I think it's understood and accepted that you lose some functionality in your symbols if you choose the alternate vs. MEDAL icons. @abouffard might be able to weigh in more, but really these icons are developed by proponent agencies (in this case, the US Navy). So, bottom line, depending on what you're t

[2015-06-30 20:51] wmcgrane commented on #199
Andy is away on holiday.  Not sure when he will be back.   Might ask Joe Bayles (his co-worker) if he knows when Andy will be back.

Bill McGrane

-----Original Message-----
From: Måns Beckman [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2015 2:31 PM
To: Esri/joint-military-symbology-xml
Subject: Re: [joint-military-symbology-xml] Mine warfare icons question (#199)

Ping, is @abouffar

[2015-06-30 20:54] joebayles commented on #199
@wmcgrane He's gone for a couple weeks. You could definitely weigh in, but I think my previous post answers the question.

[2015-07-01 14:34] spatialillusions commented on #199
Thank you for your replies! I figure out some way to implement it during the next weeks, at the moment I think it will be a per symbol property where you set if you want a medallion or not. It is however very strange that you don't have a medallion _and_ an ordinary icon for all symbols.

[2015-07-01 15:02] joebayles commented on #199
Well, they don't mean "medallion" when they say MEDAL, they mean that those color symbols were developed for the **M**ine Warfare **E**nvironmental **D**ecision **A**ids **L**ibrary, which is a US Navy system. It seems like MIL-STD-2525B just had the alternate symbols, MIL-STD-2525C mixed MEDAL and alternate into one, and now MIL-STD-2525D separates them. This is probably why you see a discrepancy

[2015-07-01 18:58] spatialillusions commented on #199
Oh, sorry, of course I meant medal, blaming part autocorrect and part to tired to think.
It will be a bit tricky for me to implement, since I got some legacy in my library that I will have to consider. The users of my library are mostly using APP6b/2525C, and 2525D is just an option that is used if the use number based SIDC, so I already have an option telling the library if they prefer 2525 or AP

[2015-07-07 18:41] csmoore opened #202 ""Downed Aircraft Pick-Up Point" should be "Downed Aircrew Pick-Up Point""
Symbol={SymbolSet=25, Entity=180300} -  "Downed Aircraft Pick-Up Point" should be "Downed **Aircrew** Pick-Up Point"

https://github.com/Esri/joint-military-symbology-xml/blob/master/instance/jmsml_D_Control_Measure.xml#L905

Noted by @BobBooth here: https://github.com/Esri/military-features-data/issues/39#issuecomment-104379830

[2015-07-15 13:06] csmoore commented on #157
@abouffard - Just checking back to see if this issue of clarifying the cyberspace frame was ever turned into a CP or addressed (another option could be to simply pick a frame for this symbolset like  the equipment frame/circle)

[2015-07-15 15:08] abouffard commented on #157
@csmoore, the CP for this is being authored this week and will be discussed and voted on in two weeks at the next SSMC/JSP meeting.

[2015-07-15 18:49] csmoore commented on #200
Note: the original issue has just been added to/updated to add additional domains that were found in the geodatabase we use (after these were cross checked against the 2525D standard tables Table VII and D-II)

[2015-07-21 18:11] abouffard commented on #199
Sorry for the delay in replying.

I'm inquiring with a naval symbology expert friend of mine, but I believe the choice of when to use framed vs. unframed MEDAL icons does come down to user preference and is left to implementers to decide for themselves how each plans to handle it.

I think the framed versions of the icons were intended to work in systems where everything is framed for simplicity a

[2015-07-21 18:17] spatialillusions commented on #199
Hi,

Thank you for your reply. I implemented it by adding a property in my API called alternateMedal that you can set to true if you want to use alternate symbols.
You can find my library here:
https://github.com/spatialillusions/milsymbol
And all documentation here:
http://spatialillusions.com/milsymbol/
(Just released the new version with full support for 2525D icons yesterday.)

Best regards
Må

[2015-07-21 20:54] csmoore opened #203 "Remove "extension" coded values from domain exports"
I just noticed the multiple "Extension" values are back in the samples/domain values in the latest version of our GDB.

Please remove from the same exports, ex: https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/symbolcode_firstten_domains_values/jmsml_Amplifier.csv#L11 & https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/symbolcode_firstten_domains_valu

[2015-07-22 18:39] csmoore opened #204 "Special C2 Headquarters Modifier Inconsistency in Standard/Display for Land and Sea Units"
The Special C2 Headquarter Text Modifier attribute/field "AA" is only shown in 2525D (May 2014) "APPENDIX E/F - SEA (Sub) SURFACE SYMBOLS" Symbol Figure ("FIGURE E-2/F-2")  but is *not* shown in the accompanying table (TABLE E-II/F-II).

However, this same modifier is *not* shown APPENDIX D - LAND SYMBOLS, in FIGURE D-3 (where it likely should be shown), but it *is* shown in the accompanying table

[2015-07-23 14:43] drdanstephens commented on #196
When this item is completed, will there also be a reason listed for why the missing 2525C SIDCs were not included in 2525D?

[2015-07-23 15:22] csmoore commented on #192
Just a question/clarification about the language used in this change, does this mean you *will* or *will not* be able to create symbols like these examples below after this change - having these more general/generic symbols available, that already have icons assigned, would be helpful to an end user (and was my intention in the [original request](https://github.com/Esri/joint-military-symbology-xm

[2015-07-23 15:30] JKCowboy commented on #192
We too use these "generic" symbols.

[2015-07-24 13:45] wmcgrane commented on #196
For discussion at the joint JSP/SSMC meeting next week.

Bill McGrane
Chair, Symbology Standards Management Committee
DISA BDC/EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: drdanstephens [mailto:notifications@github.com]
Sent: Thursday, July 23, 2015 10:43 AM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA BDC (US)
Subject: Re:

[2015-07-28 14:26] abouffard commented on #204
I will author a CP making sure that the standard is consistent regarding this AA amplifier for 2525D Change 1.

[2015-07-28 14:29] abouffard commented on #202
I will fix this but realize that there is a misspelling of Point in the standard and will draft a CP to address.

[2015-07-28 14:53] joebayles commented on #199
From Jake Wetzel, SPAWAR:
... MEDAL should be without ID, just a colored icon. The 2525 symbol is with colored icons (red, orange, yellow, dark green, and light green) with the unfilled symbol affiliation frame (i.e. Red framed hostile, no color fill, with MEDAL-colored icon). The alternative view was black and white icons with the more traditional 2525 symbol. Neither 2525 is really optimal, but

[2015-07-28 14:59] abouffard commented on #196
I will add the DISA spreadsheet to this repo.  I'll also review the above list of SIDCs and determine their current status in the XML and add explanatory notes to the csv output where appropriate.

[2015-07-28 15:04] #197 closed

[2015-07-28 15:50] joebayles commented on #122
Considering that each control measure may require different labels and attributes than others in the symbol set, we'll have to implement them individually.

[2015-07-30 12:42] csmoore commented on #122
If needed, @Dbarnes1 has put together a spreadsheet of which attributes/labels apply to which control measure - so that may help automate the process, once/if the datamodel supports.

[2015-07-30 12:59] joebayles commented on #122
:+1:

[2015-07-30 13:12] csmoore commented on #196
I'm not sure we should add another, slightly different set/format of information (the DISA spreadsheet) - unless it is for historical purposes.

If the goal is to get to one, open-format(not .xls), configuration-managed set of this (2525C<->D mapping) information in this repo (that we can then improve upon as needed) - would it be possible to add any additional/missing information from the DISA sp

[2015-07-30 14:35] joebayles commented on #204
@csmoore @abouffard already brought this to the committee and they are aware. The CP will pass.

[2015-07-30 15:20] Dbarnes1 commented on #122
Here is the [link](https://esri.box.com/s/cuvy5cpvvwjhhepbghe6g1l2aqi9gps5) on Box to the spreadsheet documenting errors with attributes/labels for Control Measure symbols, in case anyone needs it.

[2015-07-30 17:30] joebayles commented on #192
That remark is being struck from 2525D and APP 6. If there is a symbol, it's valid.

[2015-08-03 15:23] jrweakland commented on #199
@spatialillusions - please close this issue when appropriate. thanks.

[2015-08-03 15:31] jrweakland commented on #204
https://app.asana.com/0/22998302507476/43808146567937

[2015-08-03 15:36] jrweakland commented on #192
https://app.asana.com/0/22998302507476/43808146567943

[2015-08-04 16:53] spatialillusions commented on #199
The result of my implementation can be seen here:
http://spatialillusions.com/milsymbol/docs/milsymbol-2525d.html#TABLEA-XXXVII

[2015-08-04 16:53] #199 closed

[2015-08-04 17:10] csmoore commented on #199
Nice - that is impressive you were able to implement all those tables from the standard. I also like how the one's with Civilian in the name default to that frame - that's another one of those "optional" properties it is hard to know exactly how one should generally implement.

[2015-08-04 17:20] spatialillusions commented on #199
Thanks! :-)

You can find the complete API for milsymbol here:
http://spatialillusions.com/milsymbol/docs/index.html#symboloptions
Civilian colors is by default set to true, but you can disable it if you want to. (There is lots and lots of options that makes it possible for you to adjust basically anything.)

[2015-08-05 16:47] csmoore opened #206 "Add Readme Section for "Projects using the repo""
I saw where @joebayles added this [project link](https://github.com/Esri/joint-military-symbology-xml/commit/87dfa03873e931a0d00755ab4fa6475e32809c11), which was a great app/project reference.

But perhaps we can now add a new Readme Section ex. "Projects using the repo" to showcase all the projects using this data, here are the ones I know about (but please add any others you may know about):

1.

[2015-08-05 16:50] joebayles commented on #206
:+1:

[2015-08-06 21:05] abouffard commented on #192
To answer your question, @csmoore , this CP still allows for the creation of those symbols, it just removes the remarks that otherwise were restricting users regarding how they used those symbols.

The deletion of the "Type" and "Icon Type" entries mentioned in the CP refers to the standard itself, where entries in the various appendix tables show an N/A symbol, the standard will be amended to rem

[2015-08-11 20:47] abouffard commented on #204
CP 15-036-DS has now been implemented in JMSML (#209) and once these changes are reflected in updated domain ranges in military features data feature classes, special C2 HQ symbols can be created.

We are waiting to receive all approved 2525D Change 1 CPs from DISA.  Once received, I will review them to determine if a CP was already approved to add the AA amplifier code to the diagrams and tables

[2015-08-12 17:57] abouffard commented on #185
@ottenw , can this issue now be closed?  Perhaps note here what was decided by the SSMC during the "Otten Hour" and then close?

[2015-08-12 17:58] abouffard commented on #192
Closing because this has now been implemented.

[2015-08-12 17:58] #192 closed

[2015-08-12 18:01] abouffard commented on #202
Corrected and now reflected in JMSML at #205

[2015-08-12 18:02] abouffard commented on #202
@csmoore , please confirm fix and close.

[2015-08-12 18:03] abouffard commented on #204
@csmoore , please confirm fix and close.

[2015-08-12 18:03] abouffard commented on #203
@csmoore please confirm fix and close.

[2015-08-13 15:11] csmoore commented on #203
Verified fixed

[2015-08-13 15:11] #203 closed

[2015-08-13 15:18] csmoore commented on #204
Verified the "unspecified" entries in symbolset domains, @abouffard - did you want me to close this issue or are you using this issue to also track the administrative updates to those text modifier figures/tables in the standard?

[2015-08-13 15:23] csmoore commented on #202
Verified fixed

[2015-08-13 15:23] #202 closed

[2015-08-13 15:35] abouffard commented on #204
Don't close it yet.  I'll draft a CP we can track then I'll close this.

[2015-08-13 16:56] ottenw commented on #185
@abouffard , there was agreement that the position of the satellite dish on the symbol changed between 2525C and 2525D. The 2525D and latest APP-6 versions match in this instance (that's good!).  A CP is required to change this symbol back to what it used to be.  The question in my mind is, is this worth drafting a CP over, since 2525D is approved, published, and being implemented?

[2015-08-13 17:18] joebayles commented on #185
:+1:

[2015-08-13 20:05] abouffard commented on #185
If you decide to draft a CP then we can track that in this repo and then let's close this issue.  If you decide not to write a CP then go ahead and close this issue at that time.

[2015-08-14 12:37] wmcgrane commented on #185
I agree with Bill Otten that now that 2525D and APP-6 agree on the dish position of the satellite icon, this is a good thing!

I did wonder if the differences were because the dish facing up was to indicate a land-based dish while the dish facing down indicated a space-based dish.

Anyway, the standards agree now and I think that regardless of which way the dish faces, I think the users understand

[2015-08-14 12:45] ottenw commented on #185
@abouffard Recommend closure.  This seems to be about a bit of a glitch in the CM process between the publication of 2525C and restructuring/publication of 2525D.  The icons have already changed once, I cannot see changing them again when I believe they are clear and recognizable as is, especially when framed, as space tracks and land units have distinctly different frames, unless one of the group

[2015-08-14 12:46] #185 closed

[2015-08-14 19:06] abouffard commented on #201
Resolved by #211

@csmoore , sorry about PR vs issue confusion.  Getting ahead of myself and GitHub has every interface looking the same...

Please verify and close this issue at your convenience,

[2015-08-14 20:40] abouffard commented on #200
@csmoore , the context domain values are already here: https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/symbolcode_firstten_domains_values/jmsml_Context.csv

Do we still need the contents of https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/symbolcode_firstten_domains_values, as we are relying on the files in https://github.com/Esri/joint-military-sym

[2015-08-17 11:45] csmoore commented on #200
Once you have the gdb-automated-creation working feel free to optimize the samples/exports.

The original goal of those exports/samples (>=1.5 years ago) was just to demonstrate producing some simple/representative output.

[2015-08-17 11:51] csmoore commented on #201
Verified

[2015-08-17 11:51] #201 closed

[2015-08-20 15:59] abouffard commented on #200
Regarding status above...

Status
0=P=Present
1=A=Planned/Anticipated/Suspect

I'm not sure what is being inferred by "P" and "A" here, as the standard format of our domain exports is "Name, Value", i.e. two columns, not three columns.  Were three columns actually required in this export or was the "P" and "A" just added for clarity?

"P" and "A" as one letter codes within a 15 character SIDC are

[2015-08-20 16:12] csmoore commented on #200
I was similarly confused - but that is how they were described in "TABLE H-I" "H.5.1.1.3 Status." when we went over this together - so included for completeness, perhaps that should be CP'd if unclear or a cobweb left over from 2525C.

[2015-08-20 17:47] abouffard commented on #200
Yes, I think those are vestiges of 2525C and an administrative change proposal should probably address cleaning those up.  No similar mention is made to A and P in the main body of the document, where Status is also discussed.

[2015-08-20 21:30] abouffard commented on #200
@wmcgrane, the CP in question is probably not necessary.  We're just recommending an administrative change that would remove mention of "P" and "A", because those letter codes don't make sense now, since we no longer have an alphabetic SIDC to use them in.

[2015-08-21 11:35] wmcgrane commented on #200
Got it.  Thanks,

Bill McGrane
Chair, Symbology Standards Management Committee
DISA BDC/EE212
Messaging Standards Section
Ft. Meade, MD
301-225-7383

-----Original Message-----
From: Andy Bouffard [mailto:notifications@github.com]
Sent: Thursday, August 20, 2015 5:31 PM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA BDC (US)
Subject: Re: [joint-military-symbology-xml] Add Ad

[2015-08-24 19:14] abouffard commented on #200
Completed with PR #212, #213, #214, and #215

@csmoore , please verify and close.

Thank you.

[2015-08-24 20:15] csmoore commented on #200
Checked - only issue I noticed was name, value appear reversed for context: https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/name_domains_values/Coded_Domain_Context.csv

This can be closed after that is fixed

[2015-08-25 21:28] abouffard commented on #200
Fixed the context export in #216.  Also updated the copyright dates on all C# source.

@csmoore , please review and close/comment as appropriate.

[2015-08-26 12:40] csmoore commented on #200
Verified - we'll also need to test this data against the domain import steps at https://github.com/Esri/military-features-data/blob/master/data/mil2525d/utilities/military-features-utilities/README.md#steps (and remove that workaround from those steps) - I'll add a task for you to do this, so you can be familiar with this process (so you can apply this same general process to the field creation)

[2015-08-26 12:41] #200 closed

[2015-09-03 20:20] Dbarnes1 opened #217 "2525D Control Measure .svg errors"
Below is a list of Control Measure Points, Lines, and Areas that have been classified as 'minor symbol issues,' meaning that the svg/emf source symbols have their own internal errors. These were given to us by DISA, and therefore will eventually need to be addressed.

|Fixed?|SymbolName|Entity|
|---|---|---|
|<ul><li>- [ ] </li></ul>|
|<ul><li>- [ ] </li></ul>|
|<ul><li>- [ ] </li></ul>|
|<ul><li>

[2015-09-04 14:06] csmoore commented on #217
@Dbarnes1 - you might want to add a column(s) with a brief description of the issue with the SVG graphic & the link to the SVG. But you and @abouffard can coordinate on this & the best way to capture the specific issues that need addressed.

Just looking at the first SVG on the list - I'm not sure what the issue is (particularly since I believe these are the same images used in the standard) - so

[2015-09-04 15:23] Dbarnes1 commented on #217
@csmoore According to the standard the PAA label should not have a halo, rather there should be line break in the polygon and plain black text. See image below for reference.
![image](https://cloud.githubusercontent.com/assets/13024357/9687387/13216774-52de-11e5-864c-e72f865ea707.png)
Many of the symbols have minor issues like this. While the symbols are completely usable, this is something I want

[2015-09-04 16:12] Dbarnes1 commented on #217
@csmoore I updated the initial table with comments on what is specifically wrong with each symbol

[2015-09-04 17:19] csmoore commented on #217
@Dbarnes1 thanks for clarifying those - that is some detailed testing :clap:

[2015-09-04 17:55] Dbarnes1 commented on #217
https://github.com/Esri/joint-military-symbology-xml/blob/master/svg/KNOWN_ISSUES.md @abouffard I'm wondering if we should merge these pages or figure out some better way of displaying all the svg issues for 2525D?

[2015-09-05 21:18] wmcgrane commented on #217
Although these svg files come from DISA, we actually have a contractor create them.  I'm not a graphic designer, so to better understand the issue, please explain what a "halo" is in this context?  I have a hunch based on the conversation, but want to make sure I address the issue accurately.
Thanks,

Bill McGrane
Chair, Symbology Standards Management Committee
DISA BDC/EE212
Messaging Standards S

[2015-09-08 15:03] Dbarnes1 commented on #217
@wmcgrane A halo is when a background outline appears surrounding the text. Example below shows a slight gray halo surrounding the text. What is more concerning is that the line in the background does not break where the text is placed.
![image](https://cloud.githubusercontent.com/assets/13024357/9738363/ebe09e94-55ff-11e5-9d89-23ec26a4dae5.png)

This is what this symbol should ideally look like,

[2015-09-08 16:02] joebayles commented on #217
@wmcgrane:

So, what @Dbarnes1 is saying is:

We have placed the label *in* the line, as opposed to *on* the line; but instead of a proper line break that allows for the label to be read, we simply "reserve" some pixels around the label text, and that doesn't translate well at all.

Unless I'm mistaken, the line and area symbols we used to originally populate the 2525D style dictionary were from 2

[2015-09-08 16:07] joebayles opened #219 "Treat redundant lines and areas like redundant points?"
In the spirit of reducing redundancy in the standard and the strain on implementers; since most of these lines and areas are the same, why don't we have more generic line and area graphics?

![image](https://cloud.githubusercontent.com/assets/5016557/9739991/51e2ab40-5607-11e5-8988-01891f7db624.png)

The actual base graphic used for several of these lines and areas is identical, and it's only the

[2015-09-08 16:16] abouffard commented on #219
@ottenw, you were working on the reorganization of Appendix H and, in so doing, the simplification of these types of redundancies.  Please take note of @joebayles recommendation.

Thanks

[2015-09-08 16:34] joebayles commented on #219
@ottenw, I completely forgot that you were working on Appendix H. I'm sure in your infinite wisdom that you've accounted for this already.

[2015-09-16 17:44] abouffard commented on #217
Deferred this issue on the basis that DISA (SSMC) does not have their 2525 administrative assistance in place, and it is unclear when that assistance will be available.

[2015-09-16 17:47] abouffard commented on #119
Deferring this issue on the basis that DISA (SSMC) is without 2525 administrative support, and it is unclear when that support will be available.  That support would be needed to create the constituent svg files needed to build dynamic symbols.

[2015-09-16 21:05] abouffard opened #222 "Remove CPs to Documentation Folder"
Updated Issue:
I'm removing CPs from the repository.

Original Issue:
DISA has provided us with the complete list of approved 2525D Change 1 change proposals, available to-date (approved as of SSMC/JSP 15-2, July 2015).

They are now available [here](https://esri.app.box.com/files/0/f/4597672254/Approved_Change_Proposals) along with the voting record.

This task is to add those CPs that are not al

[2015-09-17 14:04] csmoore commented on #186
I'm not 100% sure we should implement this now (particularly in the .stylx we generate from this) until it is in a published standard we can reference. Removing symbols seems more than a typo/administrative-type change. I'm mainly concerned about getting bug reports from customers saying they can't create these (and I'm not sure where I would refer them to for an explanation-unless such an explana

[2015-09-17 14:39] csmoore commented on #222
Not sure if it is an unrelated question, but do all of the approved CPs that affect this repo get entered as separate issues here (I only checked for the first one 15-040 and couldn't find - but maybe you add issues as you add them to that table).

Also, while you are making this change could that tracking table format be changed so it is sorted by CP number (it is somewhat difficult to visually f

[2015-09-17 17:10] abouffard commented on #186
I feel pretty strongly that we should implement this as soon as possible, for exactly the reason you cite, we want to do everything in our power to prevent users from creating these erroneous and potentially very misleading symbols.

I am happy to go find the DoD DISR words and references needed to add to our repo documentation, words that explain in no uncertain terms the importance and currency

[2015-09-17 17:20] abouffard commented on #222
That was my intent.  I have updated the issue above to note that we should also create issues for the tracked CPs.  The CPs currently logged as issues are just the CPs we started tracking from SSMC 15-1 and I think these are all just ones we authored.

Yes, we can certainly re-order the CPs in the table by DISA CP reference number, which is different from our own reference number.

Most of the new

[2015-09-17 17:29] csmoore commented on #186
Sounds reasonable to me - if the explanation of this process can be clearly published/explained somewhere (e.g. as a section of the readme in this repo or as a link to a public memo we can reference) that we can link to if/when we get bug reports against the as-published standard.

I also didn't realize that >2017 was the next published doc, so maybe good to iron out this use-case of how an implem

[2015-09-17 17:34] abouffard commented on #186
Oh, come on @csmoore !   You slight yourself, methinks   :-)  When it comes to military symbology and 2525, how long have you been working with it?  I wouldn't consider you "non-savvy".

Apart from Dr. MOLE, I can't imagine anyone at Esri any more knowledgeable about how this all works than CMoore.

[2015-09-24 19:34] ottenw opened #224 "Redundant Dummies in MIL-STD-2525D ?"
I am finalizing a MIL-STD-2525D change proposal for submission to the SSMC to fix the Minefield control measure symbols.  Specifically, replace the "A" amplifier with a new Mine Type graphic amplifier.  I also was working to define draw rules for the "Dummy" portion of the Dummy Minefield and Dummy Minefield, Dynamic symbols,  While completing this, I noticed that the alignment of two parts in the

[2015-09-25 12:56] csmoore commented on #224
Not repeating attributes (Planned, Hostile, Dummy) in the Entity Code that are already captured elsewhere (and could conflict) sounds like a (globally) good idea to me:

![image](https://cloud.githubusercontent.com/assets/3090809/10099584/f0e646da-6358-11e5-981a-1eef42f97e8f.png)

You may want to still leave the image examples in the standard (with the full/corrected code) in case someone is looki

[2015-09-25 14:00] csmoore commented on #131
Creating a separate issue for APP-6(B) support to separate that out.

(also removing the high priority label from this one - since it doesn't seem like it was a high priority)

[2015-09-25 14:14] csmoore opened #225 "Produce APP-6(B) <-> 2525D/APP-6(D) Conversion Table"
Similar to the 2525C <-> 2525D legacy conversion/interopability work, we want to support the same thing with APP-6(B) so just want to get the planning for this kicked off and tasked:
- [ ] Determine if a member of the SSMC or support staff or other have produced a legacy mapping table from APP-6(B) similar to [what was produced for 2525C](https://github.com/Esri/joint-military-symbology-xml/blob/m

[2015-09-25 15:41] ottenw commented on #224
@csmoore Great input, thank you!  With what I was proposing, I had not considered that a minefield symbol could not be rendered by the SIDC alone.  Control measure symbols will start using sector 1 modifiers when the change I drafted to fix issues with the Limited Access Area (LAA) is submitted to SSMC meeting next month and approved; @abouffard and @joebayles are aware of this.  For the minefield

[2015-09-28 16:02] joebayles commented on #224
:+1:

[2015-09-28 17:16] joebayles commented on #206
https://github.com/Esri/joint-military-symbology-xml/pull/226

[2015-10-06 12:19] csmoore commented on #206
Still awaiting merge - assigning to @abouffard to verify

[2015-10-15 05:51] meterlongcat opened #228 "Small bug in sidc.cs introduced by issue #192"
Hi there,

Under issue #192 sidc.cs was updated to allow Unspecified entities to be used. Using an unspecified entity means the second 10 digits in the 2525D SIDC starts with 00.

Property PartBString.get doesn't convert the numerical representation of the second 10 digits into a 10-character string if Unspecified is used. Need to change:

_this._second10.ToString();_

to

_this._second10.ToString

[2015-10-15 08:46] abouffard commented on #228
Thanks Jan.  Good catch.

[2015-10-16 01:14] meterlongcat opened #229 "Cyberspace amplifier ambiguity"
Good morning,

I believe I have found an ambiguity for Cyberspace amplifiers, but am hopeful that I've just misinterpreted it and you can correct me. Here goes:

Section L.5.3.3 of the 2525D spec states that the valid amplifiers for a Cyberspace symbol is dependent on the dimension of that symbol. This is reflected in _jmsml_D_Base.xml_, where multiple Dimensions contain Cyberspace. Each Dimension

[2015-10-16 13:05] abouffard commented on #204
It was determined by the SSMC that this does not require a CP and any corrections to the standard to address the issue described herein can be handled by an administrative change.  I will work with @mepler to identify any administrative changes that need to be made.  Closing on the basis that no CP will be written for this.  DISA is aware that this needs to be looked at from an administrative stan

[2015-10-16 13:05] #204 closed

[2015-10-17 03:09] csmoore commented on #204
Closing this is fine-as long as it is being tracked to closure somewhere with the other admin issues. Also, if this is a valid field, please add to the missing database fields at https://github.com/Esri/military-features-data/issues/141

[2015-10-22 23:24] meterlongcat commented on #229
Just thought I'd clarify that this doesn't appear to affect just amplifiers, but Cyberspace symbols in general. Cyberspace symbols are always in the AIR dimension (evident by the use of the AIR frame as per the 2525D spec Table I).

[2015-10-23 18:15] abouffard commented on #229
@meterlongcat , you have stumbled upon a mistake DISA made in the allocation of symbol set codes for Cyberspace.  JMSML is currently reflecting what is printed in the current version of 2525D and does not yet reflect any of the approved change proposals (CP) for 2525D Change 1.

Esri authored CP [150715-1] (https://github.com/Esri/joint-military-symbology-xml/blob/master/documentation/change_propo

[2015-11-05 02:56] meterlongcat opened #236 "Echelon availability vs Quantity"
Good afternoon,

From what I can tell the availability of amplifier B (Echelon) is not enforced correctly in JMSML as per table VII of MIL-STD-2525D. Table VII shows that amplifier B is valid for Units and Activities. In contrast, amplifier C (Quantity) is valid for Equipment. As an example, consider the following two SIDCs:

10031001111800001212 (Land Unit)
10031501112200000500 (Land Equipment)

[2015-11-05 02:56] meterlongcat commented on #236
This appears to be related to, but not a duplicate of #113

[2015-11-06 13:35] csmoore opened #238 "Implement recent MilitaryOverlay schema changes in jmsml.config"
After the team reviews the MilitaryOverlay schema on 11/10 & the final changes for 1.2 are made, we want to get whatever changes are necessary made to this repo to persist these (this was discussed [here](https://github.com/Esri/joint-military-symbology-xml/pull/234#issuecomment-153806014) )

List of differences: https://github.com/Esri/joint-military-symbology-xml/compare/esri-implementation

tha

[2015-11-09 12:21] csmoore commented on #236
@jrweakland - I cleared my assignment - this seems to be a standard question for @abouffard (in this case: "why/was that attribute removed in D")

[2015-11-10 18:42] joebayles opened #240 "Minimum Safe Distance Symbol Issues"
After discussing the issues rendering Minimum Safe Distance Zone (25272100), I believe a CP should be drafted to bring clarity to this symbol. Understand that the design and intent behind this symbol is to render two concentric circles around a fixed point denoting minimum safe distance of a CBRN nature. These safe distances should not be confused with Fires control measures (i.e. for indirect fir

[2015-11-10 19:01] joebayles opened #241 "MSDs and REDs for Indirect Fire Control"
In https://github.com/Esri/joint-military-symbology-xml/issues/240 we discuss the issues of the CBRN control measure symbol for Minimum Safe Distance Zones. This terminology is already used by the Fires community. Here is an excerpt from FM 3-21.8 (), Chapter 2:

2-56. When determining risk with indirect fires, leaders use a combination of minimum safe distances (MSDs), and risk estimated distance

[2015-11-10 19:57] ottenw commented on #240
@joebayles This is a CBRN symbol.  The doctrinal reference / requirement source for this symbol is FM 3-11.3 / MCRP 3-37.2A / NTTP 3-11.25 / AFTTP(I) 3-2.56 "MULTISERVICE TACTICS, TECHNIQUES, AND PROCEDURES FOR CHEMICAL, BIOLOGICAL, RADIOLOGICAL, AND NUCLEAR CONTAMINATION AVOIDANCE".  This symbol is described on page I-3 "Figure I-1. STRIKWARN Plot Showing MSD 1 and MSD 2, Single-Burst"; I include

[2015-11-10 21:50] joebayles commented on #240
Thanks for the clarification @ottenw.

Re: STRIKWARN, understood. In this instance, I think we're good as long as the draw rules are up-to-date. Now, I understand the STRIKWARN will carry two numbers (in hundreds of meters), which is the radii of each MSD.

@abouffard, @csmoore, @Dbarnes1 , we need to ensure that we build those two attributes into our schema to receive the message properly.

Re: M

[2015-11-10 21:53] joebayles commented on #241
From @ottenw:

My question remains: should a standard symbol be incorporated into MIL-STD-2525?

[2015-11-10 22:01] ottenw commented on #241
@joebayles I will check with the TRADOC Capabilities Manager (TCM) Fires Cell - they are the combat developer for Fires C2 - and ask them if there is a requirement.  I emailed you a link to an article that talks about a CDE tool.

[2015-11-10 23:31] joebayles commented on #241
:+1:

[2015-11-11 12:06] csmoore commented on #240
@joebayles - what [two attributes](https://github.com/Esri/joint-military-symbology-xml/issues/240#issuecomment-155577760)? if you mean radius1, radius2 - these are already defined [by the points](https://cloud.githubusercontent.com/assets/3090809/11071184/698b25ce-87ad-11e5-9698-48a64fefa5cf.png)

[2015-11-18 20:30] ottenw commented on #240
@joebayles @abouffard - please see attached draft / proposed change one to the CP.  Your thoughts?
[15-029C01-AR Correction to Minimum Safe Distance Control Measure Symbol.docx](https://github.com/Esri/joint-military-symbology-xml/files/38303/15-029C01-AR.Correction.to.Minimum.Safe.Distance.Control.Measure.Symbol.docx)

[2015-11-19 00:11] joebayles commented on #240
@ottenw :+1:

[2015-11-19 00:11] joebayles commented on #240
My question was answered. Closing this issue.

[2015-11-19 00:11] #240 closed

[2015-11-21 05:59] abouffard commented on #238
Done in #242 .  The new Domain and Schema sample CSV files can now be used with the GDB automation GP tools to build a new GDB.  There will still be some minor differences between the JMSML export files and the Esri implementation export files, since the latter do not have the extra fields for supporting Subtype creation in GDB.

@csmoore , please test these new export CSV files and I will address

[2015-11-21 06:04] abouffard commented on #238
A GDB built with the GP tools, based on the #242 schema output can be found here: https://esri.box.com/s/g69907ppzeaix10both0az42uggo05dt

[2015-12-08 14:57] csmoore commented on #238
@abouffard - just to confirm before I start verifying this - there should be no differences between master and esri-implementation branches of the samples folder?

[2015-12-11 21:34] csmoore commented on #238
I looked at this and it is very close, just need to remove those extra quotes from the non-countycode csvs (this was previously requested at https://github.com/Esri/joint-military-symbology-xml/pull/242#discussion_r47088366 ) since this broke our original contract/convention we agreed upon in early 2015. Assigning back to @abouffard to implement this change before closing,

![image](https://cloud.

[2015-12-12 06:12] abouffard commented on #238
JMSML #248 removes those quotes from all but the actual country codes where embedded commas exist.  So the diff display you have above looks similar to what I have and is correct.

![image](https://cloud.githubusercontent.com/assets/4564846/11758775/f5a7f998-a034-11e5-9afa-757a715e770e.png)

 * Removal of HostileOrEnemy domain
 * Addition of the Schema.ini to help support the domain assignments on

[2015-12-14 12:53] csmoore commented on #238
Thanks for the update, looks good (and now behaves more like Excel csv which only adds the quotes if a cell actually has a comma).

[2015-12-14 12:53] #238 closed

[2015-12-18 04:30] jrweakland commented on #236
@csmoore - I assigned this to you because of the reorg on the team. Please reassign as you see fit.

[2015-12-18 12:16] csmoore commented on #236
@jrweakland - it is a bit confusing but I think the repo owners are supposed to manage these issues for their repo, but maybe we need to clarify that role/responsibility, and I don't mind trying to answer this question.

@meterlongcat - from helping to put together table/schemas for each symbol set I know it is somewhat confusing which text attributes go with which symbol set (the results of our e

[2015-12-18 14:22] ottenw commented on #236
The placement hasn't changed much over the years / through the different versions.  See below, version is included in the filenames - MIL-STD-2525B Ch1, Ch2, and MIL-STD-2525C.
![mil-std-2525b ch1 figure 3 field positions for tactical symbols](https://cloud.githubusercontent.com/assets/6909159/11898820/67a13dc2-a560-11e5-81ce-89a2ff21c9cd.JPG)
![mil-std-2525b ch2 figure 3 field positions for tacti

[2015-12-18 14:23] ottenw commented on #236
From top to bottom:
MIL-STD-2525B Ch1 Figure 3
MIL-STD-2525B Ch2 Figure 3
MIL-STD-2525C Figure 2

[2015-12-20 23:03] meterlongcat commented on #236
@csmoore @ottenw Thank you for your responses. Based on your images it's clear that Quantity has always been positioned above the symbol frame and never on the bottom-right. I therefore conclude that the images I was shown (which displayed a numerical quantity on the bottom-right corner of the frame) were deviations from the 2525 specs.

The question that still remains unanswered is whether amplif

[2015-12-21 07:42] abouffard commented on #236
Yes, Table VII does suggest, by its wording, that Quantity and Echelon are mutually exclusive between Equipment and Units respectively.  The relevant descriptions in table D-II would seem to reinforce that interpretation as well.  I'm sure @ottenw can confirm this as Army doctrine.

JMSML contains a definition of the 2525D codes and their meanings, it doesn't, in general, enforce doctrine, like gu

[2015-12-21 13:57] ottenw commented on #236
I concur with @abouffard - this is doctrine, and I believe it is not limited to the Army; rather, it's more about training and knowledge of the individual creating the report.  For example, an individual could see 20 armored personnel carriers (APCs) lined up on a road and report that they see a quantity of 20 pieces of equipment - Vehicle, Armored, Armored Personnel Carrier (symbol set 15, 120103

[2015-12-21 15:55] csmoore commented on #236
Sounds like the question has been answered (and then some) - thanks for everyone's input - closing

[2015-12-21 15:55] #236 closed

[2016-01-04 17:28] joebayles commented on #241
@ottenw any answer from those guys?

[2016-01-04 17:46] ottenw commented on #241
Now that they are (should) be back from the holiday break and use or lose leave, I'll ask again.

[2016-01-04 17:55] joebayles commented on #241
:+1: Thanks!

[2016-01-14 20:41] csmoore commented on #196
I'm not sure about the status of this issue, but I just updated the list in the original issue after testing against the latest LegacyMappingTableCtoD (a few were able to be removed)

[2016-01-14 21:33] abouffard commented on #196
I will review and address this issue as part of the larger effort in working on the C to D lookup.

[2016-01-14 21:40] wmcgrane commented on #196
Okay.  By the way, is it "Redland" or "Redlands", CA?

-----Original Message-----
From: Andy Bouffard [mailto:notifications@github.com]
Sent: Thursday, January 14, 2016 4:33 PM
To: Esri/joint-military-symbology-xml
Cc: McGrane, William M CIV DISA EE (US)
Subject: [Non-DoD Source] Re: [joint-military-symbology-xml] Add missing/retired 2525C symbols to C->D Symbol Mapping Table (Redux) (#196)

All a

[2016-01-15 01:41] joebayles commented on #196
Redlands, plural.

[2016-02-19 22:50] joebayles opened #251 "Sustainment Area Control Measure Labels?"
Question for the SSMC/JSP: Should Support Areas have a Unique Designation (T) Label?

Currently, they do not.
![image](https://cloud.githubusercontent.com/assets/5016557/13191350/e916f67e-d717-11e5-8bef-348fc3924d92.png)

All other sustainment areas do. See below:
![image](https://cloud.githubusercontent.com/assets/5016557/13191340/d5e6e79e-d717-11e5-9588-dd0a6cbeec4b.png)

This would affect Regim

[2016-02-29 05:08] abouffard opened #254 "Missing 2525C legacy SVGs need to be created and readme on process added to folder"
@csmoore , @Dbarnes1 ,

The following full frame retired legacy symbol SVG files need to be created and placed in this folder, to round out retired symbology support in the legacy stylx.:

https://github.com/Esri/joint-military-symbology-xml/tree/master/svg/MIL_STD_2525D_Symbols/Legacy/2525C

S-G-UCAWWR
S-G-UCDC--
S-G-UCDSC-
S-G-UCDSS-
S-G-UCDSV-
S-G-UCDMLA
S-G-UCDHH-
S-G-UCDHP-
S-G-UCFHX-
S-G-UCF

[2016-03-08 13:18] csmoore commented on #254
Assigned to @Dbarnes1 since he is working on this sprint.

I also added a subtask to this (to the title and original comment) to convert the process readme: "README-RetiredSymbolsToDeltaProces.doc" to a markdown readme and include in the same folder with the legacy SVGs(`svg/MIL_STD_2525D_Symbols/Legacy/2525C`) so this document can be more easily found with the maintained SVGs and after the projec

[2016-03-08 14:31] csmoore commented on #254
@abouffard @Dbarnes1 for the `E-O-BJ----` case above - I was thinking this would not require a new legacy SVG because this just uses 2 existing icons. Cases like this is what the `ExtraIcon` column was intended to address and here is how I created this:

![image](https://cloud.githubusercontent.com/assets/3090809/13603935/7f090916-e50e-11e5-8b1e-5801b9f18c34.png)

![image](https://cloud.githubuser

[2016-03-08 17:13] csmoore commented on #225
Just looping in @kerryrobinson - since this issue would be a prerequisite to any potential future effort to map legacy APP standards to D.

[2016-03-08 22:07] Dbarnes1 commented on #254
I believe I've fixed these missing symbols. The following photos are using the legacy renderer.

Here is an example for S-G-UCAWWR:

Friendly:
![image](https://cloud.githubusercontent.com/assets/13024357/13618007/8cafd036-e536-11e5-9245-602cc5f8f37e.png)

Neutral:
![image](https://cloud.githubusercontent.com/assets/13024357/13618023/a1f37b5a-e536-11e5-866d-fdbe61d40b73.png)

Unknown:
![image](http

[2016-03-09 14:11] csmoore commented on #254
I tested and the one above(S-G-UCAWWR) looks OK (although I now notice all of the retired ones have thicker lines than 2525D uses), the other icons seem a bit over-large for(or touching) the frame (but this is minor unless @abouffard disagrees when he tests) :

![image](https://cloud.githubusercontent.com/assets/3090809/13637621/40db90e6-e5d6-11e5-8377-ef9f8ec87a19.png)

This one, however, still d

[2016-03-09 15:48] Dbarnes1 commented on #254
@csmoore good catch with the E-O-BJ symbol. Will there be missing mil2525BC2 symbols that need to be created? If so, I could fix this error when working on those. Let me know what you think.

[2016-03-09 16:09] csmoore commented on #254
@Dbarnes1 - waiting to fix with the next batch is always fine, so long as it is tracked somewhere.

Maybe time to discuss where/how to better track these major-minor legacy issues now that things have migrated here. I was using that interim/informal spreadsheet - "Corrections_To_JMSML_Produced_Mapping_C_to_D.xlsx" ( @abouffard - just a reminder that many of the items mentioned there, ex. repeated

[2016-03-09 16:15] Dbarnes1 commented on #254
If it makes sense to you guys, I'd rather have the issues on github than in a spreadsheet.

[2016-03-09 17:56] Dbarnes1 opened #258 "2525D Legacy Mapping Issues"
Issues with table provided at: https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/All_ID_Mapping_C_to_D.csv

### Current Issues

| Name | Key 2525C | Main Icon | Notes/Corrective Action | Workaround Available? | Fixed? |
|------|------|------|------|------|------|
Friend: Land Unit (SIGINT) | IFGP- | 0_310_0 | Change Unit Frame from: 0_310_0 --> Equipment: 0_31

[2016-03-09 17:57] Dbarnes1 commented on #258
@csmoore could you write some sort of explanatory text above the table so that this is more easily understood? I replicated the table but I think you can clarify this issue for when we get around to fixing these.

[2016-03-09 17:59] abouffard commented on #254
I'd prefer tracking them in GitHub

[2016-03-09 18:00] Dbarnes1 commented on #254
https://github.com/Esri/joint-military-symbology-xml/issues/258 link to new issue for remaining SVG issues/questions.

[2016-03-09 18:25] csmoore commented on #258
Let me know if you need clarification on any others, but here are some screenshot of some of the issues encountered:

(2525C foreground/transparent - 2525DtoLegacy Background/opaque)

Change SIGINT Unit Frame from: Land to Equipment:
![image](https://cloud.githubusercontent.com/assets/3090809/13645580/9d7430ce-e5f9-11e5-81e8-bf305c67d79d.png)

Missing "SUPPLY" Horizontal Bar:
![image](https://clou

[2016-03-11 16:21] csmoore opened #259 "Identify backup/secondary repo owner + update readme"
Other repos, [example](https://github.com/Esri/solutions-geoprocessing-toolbox/tree/master#repository-owner-matt) - are moving toward having clearly defined primary and secondary/backup repo owners so there are 2 people/POCs available to manage the repo/PRs/Issues(particularly when the primary is out). Defense Solutions is doing this for new repos, but this repo was released before this change.

D

[2016-03-14 13:31] csmoore opened #260 "Symbol name does not match geometry"
While doing the Military Overlay for 2525C, I noticed these names still appear incorrectly mapped to their geometry type and this is confusing to users. I realize these are the Entity names directly used in 2525D, but I wanted to:

1. confirm that a CP had been written to try to address this (and get number).
2. record this as a known issue in this repo

This is not an exhaustive list, just the on

[2016-03-15 20:40] joebayles opened #261 "Anchor point for Headquarters units"
According to MIL-STD-2525D (D.5.3.3.2.1):

There is no mention of the anchor point of the icon changing to reflect the change in the icon. Should the anchor point remain in the center of the unit icon, or should it change to the "base of the flagpole"?

Figure 1: Non-headquarters unit
![image](https://cloud.githubusercontent.com/assets/5016557/13793170/de6d4184-eab2-11e5-9d00-e078c57ed1e6.png)

Fi

[2016-03-15 20:48] ottenw commented on #261
This issue was identified and rectified at SSMC 2015-2 via SSMC approved "15-028C01-AR Updates and Corrections to Amplifier S and Correction of Reference Errors".  Changes will be included in MIL-STD-2525D Ch1

[2016-03-15 21:15] joebayles commented on #261
:+1:
Thanks @ottenw!

[2016-03-15 21:15] #261 closed

[2016-03-15 21:16] joebayles commented on #261
@abouffard should I reopen this and keep it open until changes from CP 15-028C01-AR are incorporated into JMSML?

[2016-03-15 22:50] joebayles opened #262 "Key and Decisive Terrain"
During the Military Decision Making Process, Key and Decisive Terrain needs to be identified. There is no prescribed symbology in MIL-STD-2525D; but doctrinally, they are identified with an encircled K _n_ or D _n_, where _n_ is the numeric designation of that point (i.e. Key Terrain 1, Decisive Terrain 1, etc.). Traditionally, it is purple (to differentiate from the rest of the overlay).
![image]

[2016-03-15 22:50] joebayles commented on #262
FYI @ottenw

[2016-03-15 22:54] joebayles commented on #251
@ottenw FYI

[2016-03-15 22:54] joebayles commented on #241
How'd that go @ottenw ?

[2016-03-15 23:03] ottenw commented on #241
It was back burner'd due to higher urgency issues.  It will be raised as an issue next week at Fire Support Interoperability Board (FSIB) meeting at Fires Center of Excellence.

[2016-03-18 00:18] abouffard commented on #262
SSMC 16-1 says plausible

[2016-03-18 00:26] abouffard commented on #260
Consulted SSMC 16-1 - decision is Joe will review.

[2016-03-18 00:31] abouffard commented on #251
Consulted SSMC 16-1.  Result was that Army to research and we'll proceed from there.

[2016-03-18 00:34] abouffard commented on #241
Consulted SSMC 16-1.  See @ottenw 's response above.

[2016-03-18 00:37] abouffard commented on #182
Consulted SSMC 16-1.  Result was go ahead and submit a formal request to DISA for the files.

[2016-03-18 00:38] abouffard commented on #119
We'll review.

[2016-03-18 12:21] csmoore commented on #182
Unfortunately, this wasn't just an issue of creating SVGs, an important implementation issue was how these dynamic/complex attribute-driven METOC graphics are specified in the standard (and then created from this specification).

For example, for the Graphic Control Measures, it is more clearly specified what attributes to use to build the graphic. Example: use Center Point and Distance (AM) to co

[2016-03-18 12:33] csmoore commented on #260
@abouffard @joebayles - does that mean review and then submit a CP with a complete list? Or has a CP previously been submitted for this issue?

[2016-03-18 14:57] joebayles commented on #260
@csmoore the response was that most of these name disparities come from a doctrinal (vs. engineering) standpoint. For instance, Fire Support Station is more related to Fires Area control measures instead of other Fires Point control measures. So, @abouffard's comment means that I will review the list and more clearly differentiate between those that were named that way because of doctrine vs. thos

[2016-03-18 15:00] joebayles commented on #182
@csmoore thanks for providing the background information (again), like you did here: https://github.com/Esri/joint-military-symbology-xml/issues/119

@abouffard let's talk about this again today.

[2016-03-18 15:18] csmoore commented on #260
Thanks for the clarification - I would just make the comment that every time I (and others, like when Ben wrote this up as a defect in the old repo) see these names/labels in Pro, we think it is bug until/unless we remember this peculiar issue with the entity names.

Using the `Entity : Type : SubType` name format seems to work great everywhere else except for this one case so it would be good if

[2016-03-18 15:51] joebayles commented on #260
Agreed it's unclear. Committee's argument was that it would make sense to those people that understand FSCM (Fires Support Control Measures). I'll go through the list and from there we can come up with a course of action re: how to amend the standard.

[2016-03-18 16:06] abouffard commented on #182
Consulted again with the SSMC and Dr. Gina Thomas will confer with the weather people in the Air Force and advise.

[2016-03-21 16:52] abouffard commented on #251
Received confirmation from Carlos Soto, USA voting rep to the SSMC.  CASCOM (Mr. Charles Melton) has indicated that BSA are not officially named and do not require an extra field to add name.

@joebayles, suggest we close this.

[2016-03-21 23:14] joebayles commented on #251
Closing because the question is answered.

[2016-03-21 23:14] #251 closed

[2016-03-24 12:57] csmoore commented on #254
There seems to be some confusion/disagreement whether this issue is fixed/complete ( @abouffard isn't sure if fixed, but I do see a commit that appears to address these here: https://github.com/Esri/joint-military-symbology-xml/commit/e201148e91825b321176bde5e91219436ff2331b ).

Just to get this wrapped up/checked - assigning this to @abouffard to verify.

As part of verification, please add a che

[2016-03-24 21:52] abouffard commented on #258
I have evaluated each of the repeated key values and here are my findings:

| Key | Explanation |
|-------|-----------------|
| S-A-WM---- | Oversight in JMSML.  Redundant entry will be deleted |
| E-O-A----- | Oversight in JMSML.  Redundant entry will be deleted |
| S-G-IMC--- | DISA's mapping xls file maps two 2525D symbols to one 2525C symbol.  JMSML retains this two-to-one mapping so both 2525

[2016-03-24 22:19] csmoore commented on #258
@abouffard - you can retain the 2-1 mapping as needed but please note that both shouldn't appear in the **2525C** legacy mapping table

[2016-03-26 07:00] abouffard commented on #254
Verified that all of the above SVGs were created and are in master.  Moving E-O-BJ---- to #258.

[2016-03-26 07:00] #254 closed

[2016-03-26 07:04] abouffard commented on #258
E-O-BJ---- needs to be fixed so the team amplifier is included as a separate part of its legacy mapping entry.

https://cloud.githubusercontent.com/assets/3090809/13637488/9884e7f8-e5d5-11e5-82bf-719175b02fb6.png

[2016-03-26 07:07] abouffard commented on #258
All of the redundant/repeated keys listed above have now been dealt with.  There should now be only one of each of those keys in the legacy mapping table.

Fixed this in the CSVs merged in #263

[2016-03-26 07:15] abouffard commented on #258
@csmoore , the SIGINT frames need to be changed from land unit to land equipment in the renderer plugin.  All SIDCs starting with "I-G-" need to be handled in this way.  Where/how do you want to track plugin issues, since this is not a JMSML issue.

[2016-03-28 17:26] conklinbd commented on #254
@abouffard I didn't actually assign this. It must have been something in Waffle that automatically did it for me.

[2016-03-28 17:48] abouffard commented on #254
Thanks @conklinbd

[2016-03-29 12:57] csmoore commented on #258
@abouffard - confused - if this is the frame mapping for "I-G-" - why is this an issue with the plugin and why does it not appear in the [Mapping Table](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/All_ID_Mapping_C_to_D.csv) this way? I.e. why is it not handled like every other frame case mapping?

[2016-03-29 13:08] csmoore commented on #258
@abouffard - for the "E-O-BJ----" issue mentioned in the comments - please add that to the original issue description above (we find that people don't always read through the individual comments/thread to pick out additional issues like this - especially when the comments get this lengthy - but they do read the 1st issue)

[2016-03-29 15:50] joebayles commented on #182
Dr. Thomas responded with these links:
http://ww2010.atmos.uiuc.edu/(Gh)/guides/maps/sfcobs/home.rxml
http://ww2010.atmos.uiuc.edu/(Gh)/guides/maps/sfcobs/wnd.rxml

If we are to be in accordance w/ the standard, we should incorporate this into our METOC templates.

[2016-03-31 18:57] csmoore commented on #258
@abouffard - checking back on [SIGINT frame issue](https://github.com/Esri/joint-military-symbology-xml/issues/258#issuecomment-202879547) - do you think this should be fixed in the data table or plugin?

[2016-03-31 20:37] abouffard commented on #258
@csmoore - it has been fixed in the table.  My bad for suggesting otherwise, that it was a plugin issue.  I was thinking along a different line when I suggested it was a plugin problem.  The legacy stylx I created last night should have SIGINT now drawing in equipment frames.  I'll be putting those JMSML corrections into GitHub tonight.

[2016-04-12 12:54] csmoore commented on #258
@abouffard - for the Sustainment/SUPPLY Symbol Bar issue noted above - rather than create completely new symbols - would it be possible to just add the "Bar" Icon to the "ExtraIcon" field in the [mapping table](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/All_ID_Mapping_Original.csv) - cases like this is what that field/column was intended for.

[2016-04-12 13:06] csmoore opened #269 "Update the Military Features schema samples source data to remove subtypes"
The current(since January)/released Military Overlay/Features implementation removed subtypes as shown in the changes in this PR/branch:

1. https://github.com/Esri/joint-military-symbology-xml/pull/249 (Note: the changes/branch from this PR is no longer appears to be in this repo for some reason)
2. https://github.com/Dbarnes1/joint-military-symbology-xml/tree/Esri-implementation-nosubtype/sample

[2016-04-12 14:56] davidbuhler opened #272 "ReadMe.MD may have incorrect SIDC conversion"
[ReadMe](https://github.com/Esri/joint-military-symbology-xml/blob/master/README.md)

I believe "Convert from new style 20-digit SIDC to new style 15-character SIDC" should be "Convert from new style 20-digit SIDC to old style 15-character SIDC".

[2016-04-12 15:28] csmoore opened #273 "Country Codes using STANAG 1059 or GENC?"
This note says that the country codes are using STANAG 1059
https://github.com/Esri/joint-military-symbology-xml/blob/master/instance/jmsml_D_Base.xml#L908

But the Readme says GENC: https://github.com/Esri/joint-military-symbology-xml#resources

So just trying to clarify which is correct / which file should be modified (readme or XML note)

[2016-04-12 16:22] davidbuhler opened #274 "Ability to batch convert all SIDC Symbols from SVG to PNG"
Is there currently a way to convert all of the Symbols for every Permutation from SVG to PNG?

Alternatively, Is there currently a way to convert each SIDC code request from an SVG to PNG?

In my use-case, I need to reference an asset as a KML Placemark Icon. The KML spec does not support SVGs, just rasterized graphics.

[2016-04-12 16:40] csmoore commented on #274
I don't know if this repo has something like this, but you are going to indeed have a lot of files:

Here is just one example (Land Units) - that uses only 4 of the attributes:
(193 Entity Codes) X (78 Modifier 1's) X (57 Modifier 2's) X (14 Echelons)

Something like PICT might be useful if you did decide to go down the permutation path: https://github.com/Microsoft/pict

A while ago, I did do tes

[2016-04-12 16:55] joebayles commented on #272
Good catch @davidbuhler, we'll change that. Thanks!

[2016-04-12 16:58] joebayles commented on #272
Verified, closing.

[2016-04-12 16:58] #272 closed

[2016-04-12 17:29] abouffard commented on #258
@csmoore, it would be one solution, but as the mapping table is being generated from JMSML and JMSML has a consistent way to handle icons that are unique to the legacy standards, this would be an inelegant exception.  Since the bar is full frame we'll both have to also contend with their being four versions of the situation, whether its four versions of a lone ExtraIcon bar or four versions of the

[2016-04-12 17:59] abouffard commented on #273
@csmoore , the correct standard is GENC.  The text in line 908 was copied from 2525D, from the Activities amplifier table G-II, and this was an error in 2525D.  2525D currently has it correct in table VII in the body of the document.

![image](https://cloud.githubusercontent.com/assets/4564846/14470076/35639c44-00ad-11e6-8fbd-6796c5884a9c.png)

It has been caught and corrected in the latest draft

[2016-04-13 11:27] csmoore commented on #182
There is a lot of information there (this one symbol could almost be a project in itself) - Should this information or at least a link the standard with the clarification on the various barbs, [cloud cover center symbol](http://ww2010.atmos.uiuc.edu/(Gh)/guides/maps/sfcobs/cldcvr.rxml), additional labels, etc. be added to 2525 first before the community implements? Or has that already happened?

[2016-04-13 11:33] csmoore commented on #273
Thanks for the clarification (Hopefully that acronym GENC is also defined/linked to somewhere in the standard since I wouldn't know it or where to find unless I searched specifically for "GENC Country Codes").

Please link/reference this issue when you PR and when can close then.

[2016-04-13 12:44] ottenw commented on #262
FYI @joebayles  @abouffard
MIL-STD-2525 has a control measure symbol for Decision Point.  Am currently reviewing ATP 2-01.3 / MCRP 2-3A 'Intelligence Preparation of the Battlefield/Battlespace" (DISTRIBUTION RESTRICTION: Approved for public release; distribution is unlimited).  This doctrinal publication uses military symbology extensively, and nearly all I have seen so far is MS2525 compliant.  O

[2016-04-13 16:07] joebayles commented on #182
@csmoore agree it's a bear, for sure... but I would submit that it already is in the standard, however vague or incomplete it may be. We have already suggested clarification, Dr. Thomas' response was the first response to that suggestion.

I'm assuming that you are suggesting they add all or most of the possible permutations of that symbol to the standard itself, and I agree that they should at le

[2016-04-13 16:10] joebayles commented on #262
![image](https://cloud.githubusercontent.com/assets/5016557/14500543/67116190-0157-11e6-889b-906203551c1b.png)

Good call @ottenw thanks. I definitely agree that working with those elements would make for some fine additions to the standard.

[2016-04-13 16:17] ottenw commented on #241
I briefed this topic at March semi annual FSIB; Chairman stated he thought the same "MINIMUM SAFE DISTANCE AND RISK ESTIMATE DISTANCE" table in the Infantry manual is also in one of the Field Artillery manuals.  he took an action to research is an MSD-like new control measure symbol is needed for RED.  Different but related note is the use of MSD (as corrected by a CP) for a training RED.  Trainin

[2016-04-13 16:24] ottenw commented on #224
Issues resolved via approved symbology change proposals at SSMC 2016-1.

[2016-04-13 16:24] #224 closed

[2016-04-13 16:50] joebayles commented on #224
@abouffard should we keep this open until the changes are incorporated into JMSML?

[2016-04-13 17:13] csmoore commented on #182
That's it (and thanks for reminding me about the attributes) - maybe also a

![image](https://cloud.githubusercontent.com/assets/3090809/14502337/cc17c0c2-0178-11e6-8738-c4b4e48cb581.png)

For table H-II and the template - here are some of the field/attributes needed to create that symbol if to be fully displayed as from that website ( [just taken from the link above](http://ww2010.atmos.uiuc.edu/

[2016-04-13 17:40] abouffard commented on #273
GENC is referenced on page 2 of 2525D.

Under the heading "2.2.2 Other Government documents, drawings and publications"

[2016-04-13 17:46] abouffard commented on #224
We should probably open a new issue using the same format I established with other CPs, like https://github.com/Esri/joint-military-symbology-xml/issues/191

We should really do that with every approved CP, so we can track each one and its eventual implementation in JMSML.

[2016-04-14 12:29] csmoore commented on #258
Added to the original issue to investigate why some of the fonts are now showing as serif:

![image](https://cloud.githubusercontent.com/assets/3090809/14527951/00ab7002-021b-11e6-94d1-a421949cf98e.png)

@abouffard - regarding last supply bar comment- we already handle both this full frame case and the case where a single additional icon in needed with the "special land unit entity" icons (in the

[2016-04-14 16:34] abouffard commented on #258
@csmoore , the "special land unit entity" is an exception whose alternative (creating many new SVGs that include those extra icons and the standard land unit icons together) would seriously bloat the number of SVGs in the mix.  Thus using the "ExtraIcon" approach is warranted in that case.

The "special land unit entity" icons have also already been removed from 2525D Change 1, in favor of new sec

[2016-04-14 16:57] csmoore commented on #258
I was also thinking this affected every supply icon - but on visual inspection, it looks like only the 2525C water and laundry are affected anyway (so only an extra ~10 icon):

![image](https://cloud.githubusercontent.com/assets/3090809/14536293/9feebaa6-023f-11e6-8a0b-1eecaac65ea7.png)

But had we been aware of your temporary/for-special-land-unit-only intention when we developed/reviewed the leg

[2016-04-14 18:06] abouffard commented on #258
It's part of a recently approved CP (16-010-AR).  @joebayles and I will be issuing a SSMC/JSP 16-1 trip report soon, and moving the recently approved CPs to Box, and as part of our engagement with the SSMC/JSP, JMSML.

[16-010-AR Modify MIL-STD-2525D to Support Updates to Army Doctrinal Symbology.docx](https://github.com/Esri/joint-military-symbology-xml/files/219684/16-010-AR.Modify.MIL-STD-2525D

[2016-04-14 18:30] abouffard commented on #274
Thanks for the question @davidbuhler .

There is, currently, not a way to do what you've asked.  There is a C# library of classes here and a way to use those classes to create a Symbol object based on a given SIDC.  The Symbol object can return to a developer a C# Bitmap, which represents the basic symbol for that given SIDC.

You could write an app that cycled through the SIDC components broken o

[2016-04-14 18:41] davidbuhler commented on #274
Noted. Thanks.

Perhaps an Image Dump would be a useful Feature Request?

[2016-04-14 20:19] abouffard commented on #274
Yup, noted.  Perhaps you want to rename this issue and make it more like a new feature request, like "Add Symbol Image Dump Capability" and describe what you'd like to see?

[2016-04-15 00:35] davidbuhler commented on #274
User Story: Some organizations need access to symbols based on a MIL Specification (A, B, C, D, or a change set). A feature is needed where a developer can:

Dump all of the symbols as a PNG, based on a MIL STD (or with the pngs divided into a folder by MIL STD. The developer would then move each image permutation to a file server where each image would by accessible by filepath/symbol-code.png

T

[2016-04-15 15:45] csmoore commented on #269
We decided to take a different approach for the project (and updated the readme to reflect) so this issue can be closed

[2016-04-15 15:45] #269 closed

[2016-04-15 18:30] csmoore commented on #258
Thanks for providing the CP here (funnily enough it also covered changing the supply bar to a modifier which would have helped with the issue above) - that does look like an improvement & I will be happy to see the "special entity subtype" exceptional case/rule go away.

[2016-04-15 20:36] abouffard commented on #258
Yes, although I argued against it as it creates another exception.  A full frame sector one modifier.

[2016-04-15 21:40] csmoore commented on #258
I guess I don't understand the exception in this case, the new/proposed (full frame) Supply Bar and Headquarters Element modifier 1's are icons that are tagged as full frame, so follow the normal full frame lookup rules.

But if it is somehow an exception (presumably because these are the only full-frame modifiers), then it is certainly the lesser of two evils

[2016-04-15 21:52] abouffard commented on #258
It's just that.  That the established rule for modifiers is that they are supposed to fit wholly within a sector., to ensure consistency and readability.  This becomes the lone exception, and I always counsel the committees to minimize exceptions.

[2016-04-18 14:52] ottenw commented on #262
@joebayles So after talking with Army SSMC representative, I'm drafting a CP for a Key Terrain control measure.  In reviewing ATP 2-01.3 / MCRP 2-3A 'Intelligence Preparation of the Battlefield/Battlespace", I couldn't help but notice the absence of color; is there a reason the Ket Terrain symbol you showed above is purple?  If we want non affiliation based color rules for this symbol then we will

[2016-04-18 14:56] joebayles commented on #262
@ottenw agreed. I think it's shown in black and white here because the picture is black and white. I'll do a little more research to find what standard calls it purple. I know it's a thing because CPOF defaults it to purple, and that's what is taught at AOBC/MCCC.

[2016-04-21 20:10] csmoore opened #282 "Remove "2525" From All_ID_Mapping_X.Standard Entries"
To make these comparisons a little more efficient (now that frame queries are no longer unique on this table) - I would like these strings changed in the Standard field to something more succint:

Old -> New
2525C -> C
2525Bc2 -> B2

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/All_ID_Mapping_Latest.csv

https://github.com/Esri/joint-military-symbology-xm

[2016-04-21 20:22] csmoore opened #283 "Multiple entries in for C and Bc2 in "Latest" Mapping table"
There still appear to be 2525Bc2 frame entries in this (latest/current doctrine) mapping table:

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/All_ID_Mapping_Latest.csv   (use search to look for "2525Bc2")

@abouffard mentioned a couple weeks ago that these would be removed so just adding an issue to track

[2016-04-21 20:38] abouffard commented on #283
Thanks @csmoore , I'll take a look and fix.

[2016-04-22 19:02] abouffard commented on #273
Resolved in PR #277.  Closing as a result.

[2016-04-22 19:02] #273 closed

[2016-04-25 17:15] abouffard opened #289 "Research and address and/or fix missing legacy 2525C symbols"
### Icons/symbols that aren't showing up and should be investigated:

| SIDC | Remarks |
| --- | --- |
| GFGPGAG-------X | Not in 2525D - need new SVG |
| GFGPGLC-------X | Not in 2525D - in 2525D this is two FLOT drawn opposite each other - need new SVG |
| GFGPGPRM------X |  |
| GFGPPN--------X |  |
| GFMPNM--------X |  |
| GFMPOA--------X |  |
| GFMPOAD-------X |  |
| GFMPOAO-------X |  |
| OFI

[2016-04-25 17:18] abouffard commented on #258
Removed the list of missing symbols that need investigating and put them in a new issue #289

[2016-04-26 21:52] Dbarnes1 opened #290 "SIGINT entries not exporting to military-all-icons.csv"
In the latest .stylx file I created, the legacy entities are not appearing, rather they are blank, save for 6 space symbols and 4 air symbols:
![image](https://cloud.githubusercontent.com/assets/13024357/14835278/d13bed4a-0bbd-11e6-8201-39331a0c403b.png)

I converted the files to .emf and the entries appear in JMSML, but they do not appear in the military-all-icons.csv, which leads me to believe t

[2016-04-27 04:33] abouffard commented on #290
@Dbarnes1 , fixed in #291.

Please verify and rebuild and test the legacy stylx.

[2016-04-27 11:22] csmoore opened #292 "Style Items Table should use human readable names in Name Field not SIDCs or Hierarchy Code"
Noticed that the Name field for the many entries is using the SIDC or Hierarchy Code rather than a human readable name. Ex:

https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/legacy_support/All_ID_Mapping_Original.csv#L751

`Symbols_Root}\Legacy\2525C\I-U-SRU---.emf,64,`**I-U-SRU---**

https://raw.githubusercontent.com/Esri/joint-military-symbology-xml/master/samples/imagefi

[2016-04-27 14:57] Dbarnes1 commented on #290
@abouffard thanks, I'll test/rebuild once i fix some of the other symbol rendering issues this morning.

[2016-04-27 17:15] abouffard commented on #292
I chose to use the hierarchy codes from 2525C for the legacy entities because they weren't being captured elsewhere and for legacy SVGs we had to build they are the closest equivalent in the older standards to the colon separated names we normally use for 2525D.  We derive the 2525D names from the formal entity/entity type/entity subtype hierarchy strings, which don't exist in the older standards.

[2016-04-27 17:20] abouffard commented on #283
@csmoore , you should no longer see Bc2 frames in the latest/current mapping table.  Please verify.

[2016-04-27 18:48] csmoore commented on #292
If this name is only used in this table I'm inclined not to worry about, but if this is the name the user will see in the style and elsewhere (like the ProSymbolEditor) then we should change and come up with a better naming convention (but certainly keep this as a tag).

I haven't yet looked at that style entries and tags to see if they are complete...i.e. able to completely create user-friendly s

[2016-04-27 18:54] csmoore commented on #292
Looks like the legacy name is the SIDC - that probably won't work either (though that should be the Key which is correct)

Also - why is there a fill in the icons - is this a global issue? ( @abouffard  @Dbarnes1 ) -

![image](https://cloud.githubusercontent.com/assets/3090809/14864421/d4da9788-0c87-11e6-8de6-146dc39e7034.png)

[2016-04-27 20:13] abouffard commented on #292
The legacy symbol name is the SIDC because when you create a stylx from a style its the symbol's name that gets copied to the symbol's key field by Pro, where we need the SIDC.  If we use a different string for the symbol name then we'll have to use SQL code in a script to update the key field values.  I was trying to avoid that, but it may be unavoidable.

I certainly don't expect users to look i

[2016-04-27 20:39] csmoore commented on #292
Since the easier-to-use [symbol editor](https://github.com/Esri/military-symbol-editor-addin-wpf) actually presents this name to the user, the style item name is indeed important, see image at: https://github.com/Esri/military-symbol-editor-addin-wpf#military-symbol-editor-addin-wpf - Let's work on a naming convention that makes sense & once the style is stable we can add this task/work/fix to the

[2016-04-28 19:59] csmoore commented on #292
Updated the title and original issue to include the style items - it is labeled enhancement but really something more than that in that it is a usability issue so after the 2525C style symbols problems are fixed this will likely be the next desired fix this sprint

[2016-04-29 15:14] joebayles opened #294 "Branch/Milestone maintenance"
Per the guidance to the team, we should have a dev branch and a v.next branch.

I'd also suggest we clean up some of the other branches that currently exist but may be old.

Version - Next Milestone is overdue by 6 months.

[2016-04-29 16:31] abouffard commented on #294
Thanks.  I'll take care of it.  Since most of our current work is for DCGS-A, which is designed for use with released software, we'll start using the new dev branch for that project.

[2016-04-29 18:27] abouffard commented on #294
Branches dev and v.next have been created from the current master.

Changes for DCGS-A (Pro 1.2 and ArcGIS 10.3.1) should go in dev.
Changes for Pro 1.3 and ArcGIS 10.4 should go in v.next

[2016-04-29 19:54] csmoore commented on #294
Just a quick note - v.next is optional and was primarily intended to be for actual future (ArcGIS) product dependencies (which I wouldn't anticipate this repo would have - but you may want something similar for Change 1).

Also, if/when you clean up the branches - please leave:
https://github.com/Esri/joint-military-symbology-xml/tree/Esri-implementation-mil2525c
https://github.com/Esri/joint-mili

[2016-04-29 20:58] abouffard commented on #294
Thanks @csmoore.   I think v.next will be used for Change 1 - for "future projects" like that.

[2016-04-29 22:15] joebayles commented on #294
We can call v.next or Change 1 _mil-std-2525-d-c1_ or maybe just _2525-d-c1_.
@csmoore I didn't mean those, but the patch-1's and sssmc branch look old/unnecessary.

[2016-05-02 13:57] csmoore opened #296 "Font Name appears incorrect - extra single quotes"
Numerous SVGs appear to have an extra pair of single quotes in the svg font-family element:

font-family="**'**sans-serif**'**"  vs. font-family="sans-serif" (Note: I changed this back after Dan edited)

Example:
[code]

This font-family element did not appear this way in the original SVGs - example: https://raw.githubusercontent.com/Esri/joint-military-symbology-xml/master/svg/MIL_STD_2525D_Symbo

[2016-05-02 14:06] csmoore opened #297 "Few Legacy SVGs Names/Lengths incorrect"
A few of these appear to have incorrect name and/or lengths in folder: https://github.com/Esri/joint-military-symbology-xml/tree/master/svg/MIL_STD_2525D_Symbols/Legacy/2525C

Name - Length
S-U-SO---	9
S-U-SR-----	11
WOS-HHDMDBP	11
WOS-HHDMDFP	11

[2016-05-02 18:53] abouffard commented on #297
@Dbarnes1 - these may be the cause of some still-missing symbols.  Assigning to you to address/fix.

[2016-05-02 18:57] Dbarnes1 commented on #297
thanks @abouffard. How many characters should there be on the WOS symbols? I didn't edit/am unfamiliar with those SIDC codes.

[2016-05-02 19:09] abouffard commented on #297
I think just 10.  They should all be 10.

[2016-05-02 19:58] Dbarnes1 commented on #290
@abouffard @csmoore This bug has been fixed:
![image](https://cloud.githubusercontent.com/assets/13024357/14966078/7de55f30-1065-11e6-9d59-6c2a84db4b7f.png)

[2016-05-02 19:58] #290 closed

[2016-05-02 20:37] Dbarnes1 commented on #296
@csmoore I'm tackling this now, thanks for catching it. I think the issue is that there is an extra pair of double quotes, so the correct syntax would be 'sans-serif'

[2016-05-02 20:52] abouffard commented on #292
@csmoore  - here is my suggestion for a naming convention.  Basically it is to use the closest equivalent to the names we have already.

WAR.SOFUNT.AVN.ROT, the current name for S-F-AH----, could instead be:

"Movement and Maneuver : Army Aviation/Aviation Rotary Wing : Special Operations Forces (SOF)"

This is the closest combination of 2525D symbol name and 2525D modifier name used together to m

[2016-05-02 20:55] csmoore commented on #296
That is correct for **style attributes** (which these are not, they are **stand alone attributes**) - so this is a little more complicated. The correct syntax for the ones I've listed is:

`font-family="sans-serif"`  (element-based - [example of this format](https://raw.githubusercontent.com/Esri/joint-military-symbology-xml/master/svg/MIL_STD_2525D_Symbols/Appendices/Air/01110105.svg) )

(unless

[2016-05-02 20:58] Dbarnes1 commented on #296
Ok, in that case I'll remove the extra single quotes.

Sorry for the confusion

[2016-05-02 21:01] csmoore commented on #296
@Dbarnes1 @abouffard - it looks like these changes were introduced here: https://github.com/Esri/joint-military-symbology-xml/commit/75aec190c581e9350237c5fe2a796e1962e23e82 - so if you are using a replacement script you may need to use a more specific pattern to avoid this case.

[2016-05-02 22:11] Dbarnes1 commented on #297
@csmoore I'm building the legacy stylx now with changes that are in #298 so you can verify these fixes once I put the stylx up.

[2016-05-02 22:12] Dbarnes1 commented on #296
@csmoore @abouffard I put these changes in (#298) so one of you can verify when you check out the new stylx I'm building now.

[2016-05-02 23:58] joebayles commented on #262
@ottenw I haven't found any document that points to purple, so disregard. I found one slide from an MCCC deck that uses purple, I think it's available [here](http://www.slideshare.net/tjc3rd/military-decision-making-process-mar-081) on slide 36.

[2016-05-03 01:46] csmoore commented on #292
That example looks better & more human readable to me - so long as:

1. it remains unique and won't be the same as any of the existing 2525D ones.
2. the 2525C domains use the same names
3. anything else we have forgotten since we last did this >2+ years ago (I remember it took numerous passes/iterations to get this all correct that time)

Once you do have the name and tags ready to review we do w

[2016-05-03 14:57] csmoore commented on #283
I no longer see Bc2 entries - but I'm not sure how to interpret the "2525C" column entries in this table so they may cause some confusion

[2016-05-03 15:10] csmoore commented on #297
I checked the files at: https://github.com/Dbarnes1/joint-military-symbology-xml/tree/master/svg/MIL_STD_2525D_Symbols/Legacy

And name/SIDC lengths now look correct

[2016-05-03 15:10] #297 closed

[2016-05-03 15:21] csmoore commented on #297
One other thing @abouffard @Dbarnes1 if that is also the key "WOS-HHDMDB" you are using in the style ( and it does [appear to be the key here](https://raw.githubusercontent.com/Esri/joint-military-symbology-xml/master/samples/imagefile_name_category_tags/Military-All-Icons.csv) ) that is not consistent with the other METOC keys - so the lookup will fail.

I mentioned this lack of consistency with

[2016-05-03 15:26] ottenw commented on #262
@joebayles I'll check with the gentleman at TCM Mission Command / MCoE that coordinates our symbology/graphics requirements and get his input.  Purple or blue as you found is interesting; purple seems to imply applicability to any affiliation (like green for obstacles) while blue seems to imply friendly.

[2016-05-03 15:57] ottenw commented on #262
@joebayles After discussing with Army Symbologist I am drafting CPs for Key Terrain and Land unit sector 2 modifier for Guerilla.  We have until next SSMC to resolve color rule for Key Terrain symbol.

[2016-05-03 18:48] abouffard commented on #297
Thanks for pointing this out.  I'll review and fix.

[2016-05-04 16:34] ottenw commented on #262
@joebayles in drafting the CP for Key Terrain, a new twist - I went to the joint pub referenced for Key Terrain in the Army/Marine Corps, and although the pictures in the Army/Marine Corps pub all show circular symbols, JP 2-01.3 states"Key terrain is commonly depicted on overlays with a large “K”
within a circle or curve that encloses and follows the contours of the designated terrain".  So do we

[2016-05-04 18:01] joebayles commented on #262
So, two questions:
1. Should MIL-STD-2525 reflect service-specific publications, or Joint Publications?
2. Who uses JP 2-01.3 that is drawing military overlays at that level?

Frankly, I think:
1. The question should be asked of the services, and depending on that answer:
2. The CP should be written for MIL-STD-2525 dependent on what the services require or identify as doctrinally correct.
3. A CP

[2016-05-13 18:02] abouffard commented on #283
Closing as the bc2 frames were removed and verified removed from the latest mapping table,

[2016-05-13 18:02] #283 closed

[2016-05-13 18:07] abouffard commented on #282
Fixed in the dev branch in #300

@csmoore , please verify and close as appropriate.

[2016-05-13 18:51] csmoore commented on #282
Verified in latest style submitted for testing

[2016-05-13 18:51] #282 closed

[2016-05-13 22:37] joebayles commented on #262
I think I found why they used purple... because it "pops".
![image](https://cloud.githubusercontent.com/assets/5016557/15263591/5735d2d4-1920-11e6-81f1-7d467a1aa7e5.png)

[2016-05-16 11:57] ottenw commented on #262
@joebayles thank you - I'll edit the CP and add words that purple should be used citing the reference you found.

[2016-05-19 17:27] Dbarnes1 opened #309 "Full Frame Rule "IsAlignable" not being honored for Symbols with Legacy Entities in All_ID_Mapping_Original.csv"
The "Latest" version of the All_ID_Mapping.csv includes `TRUE` values for all of the control measure entities that were assigned an `IsAlignable="true"` in JMSML. **This is Correct**.

In the "Original" version, however, only 5 of the 15 or so symbols were assigned a `TRUE` value, and therefore aren't rendering properly in the resulting test data. **This is the Problem**.

The pattern I noticed is

[2016-05-20 17:14] Dbarnes1 commented on #309
@abouffard fixed the issue and I was able to verify:
![image](https://cloud.githubusercontent.com/assets/13024357/15435860/9f9dc5a6-1e73-11e6-9aba-6048fe9618ca.png)

closing

[2016-05-20 17:14] #309 closed

[2016-05-31 17:40] joebayles commented on #219
@ottenw, I can't recall... is this still germane or can we close it?

[2016-05-31 18:46] ottenw commented on #219
@joebayles @abouffard  we will have simplified draw rules in Ch1; we should be seeing the draft soon.  It is a great first step but not the desired end state.  There are still issues with standardization and figures H-4, H-5, H-6 and their descriptive text sections.  Time permitting I will draft a CP to fix what I perceive to be issues/problems created by the inclusion of H-4 thru H-6.  For now, I

[2016-06-01 14:57] joebayles commented on #219
@ottenw thanks!
Closing for now.

[2016-06-01 14:57] #219 closed

[2016-06-03 18:25] csmoore opened #316 "LegacyMappingTableCtoD.csv contains B entries"
A dependent file we use has recently changed: [LegacyMappingTableCtoD](https://github.com/Esri/joint-military-symbology-xml/blob/dev/samples/legacy_support/LegacyMappingTableCtoD.csv) and now contains 2525Bc2 entries as of this PR - https://github.com/Esri/joint-military-symbology-xml/pull/313

There should either be:

1. A file rename and an additional column added to indicate B/C standard  **-or

[2016-07-06 17:16] BobBooth opened #320 "Duplicate SIDC (multiple entities with same value) causes generate domains to fail"
In: https://github.com/Esri/joint-military-symbology-xml/blob/dev/samples/legacy_support/All_ID_Mapping_Original.csv
S-A-WM----
appears twice.
Missile (Air Missile),S-A-WM----
Missile (Air Missile) : Missile Status : Launched,S-A-WM----
This causes the generate domain process to fail.
arcgisscripting.ExecuteError: ERROR 000980: Domain value S-A-WM---- description Missile (Air Missile) : Missile St

[2016-07-06 20:17] abouffard commented on #320
@BobBooth - problem found and fixed in JMSML.  Will appear in my next PR.  In the meantime, you can hand edit the first occurence to change it to S-A-W-----.  That's what it should be.

[2016-07-14 06:15] abouffard commented on #259
Resolved in #319 , naming Joe Bayles and Daniel Barnes as co-secondary repo owners.

[2016-07-14 06:19] abouffard commented on #259
@csmoore , please verify and close.  Thank you.

[2016-07-14 15:15] csmoore commented on #259
Verified in https://github.com/abouffard/joint-military-symbology-xml/blob/3ed76cde9cc052478eb7d6938ab925463eb4077f/README.md

This is slightly different from the usual/preferred format ("Contact" section at end of readme) - but this can be your call.  Example: https://github.com/Esri/military-tools-geoprocessing-toolbox#repository-points-of-contact

[2016-07-14 15:15] #259 closed

[2016-07-19 23:48] Dbarnes1 opened #321 "Automated Stylx Creation App"
**From Asana**

**DoD:** A single app that can be configured and run to automate the end-to-end process of creating a stylx from source SVGs + icon spec csv.  The manual process is here: https://github.com/Esri/military-features-data/tree/master/data/mil2525d/utilities/style-utilities

There are 2 options for accomplishing this:

**Option 1** is to Develop a GP Tool/Python script/Addin that can be

[2016-07-20 00:49] joebayles opened #322 "Bridge Reconnaissance Symbols"
NATO and US forces use standard symbols for reporting the results of bridge reconnaissance. I will look more into the standards, since the ones I know of are no longer active, but here's a screenshot. Anyone with input should feel free to comment below.

![image](https://cloud.githubusercontent.com/assets/5016557/16971428/82757cb4-4dd8-11e6-9f81-df231286a639.png)

FYI @ottenw

[2016-07-20 13:24] ottenw commented on #322
To the best of my knowledge and research, the symbol shown is current. I discussed this with a CW5 Geospatial Engineering Technician who works at TCM Geospatial.  I will work the CP with him.  After discussing this with him, the only field that could go away is the serial number field, as that was used in the days of map sheet boundaries and a separate bridge table for each map sheet (often printe

[2016-07-20 14:16] joebayles commented on #322
Assigned to me while @ottenw works up the CP.

[2016-07-20 14:16] joebayles commented on #322
@ottenw, I'll change the name to route reconnaissance symbols, how does that sound?

[2016-07-20 14:47] joebayles commented on #119
@abouffard what's the status of this CP?

[2016-07-20 14:48] joebayles commented on #241
@abouffard, @ottenw:  what's the status of this CP?

[2016-07-20 14:53] joebayles commented on #229
@abouffard can you update this as necessary?

[2016-07-20 14:53] joebayles commented on #294
@abouffard can you update the milestones, please?

[2016-07-20 14:54] joebayles commented on #222
@abouffard can you update this as necessary?

[2016-07-20 14:55] joebayles commented on #206
Verified.

[2016-07-20 14:55] #206 closed

[2016-07-20 14:56] joebayles commented on #198
@abouffard can you update this as necessary?

[2016-07-20 14:58] joebayles commented on #196
@abouffard can you update this as necessary?

[2016-07-20 15:20] ottenw commented on #241
I should have a decision from the Fires center of Excellence at the next FSIB semi annual meeting - September, I believe, but the meeting announcement has not gone out yet.

[2016-07-20 20:58] joebayles commented on #258
Closing per @Dbarnes1

[2016-07-20 20:58] #258 closed

[2016-07-20 21:00] joebayles commented on #296
Verified.

[2016-07-20 21:00] #296 closed

[2016-07-20 21:06] joebayles commented on #292
@abouffard can you update this issue?

[2016-07-20 21:06] joebayles commented on #289
@abouffard can you update this issue?

[2016-07-20 21:09] joebayles commented on #320
Verified.

[2016-07-20 21:09] #320 closed

[2016-07-20 21:11] joebayles commented on #316
@csmoore was this one fixed?

[2016-07-20 21:12] joebayles commented on #294
Verified.

[2016-07-20 21:12] #294 closed

[2016-07-20 21:24] joebayles commented on #133
@csmoore did you do this?

[2016-07-20 21:27] joebayles commented on #124
@abouffard can you update this issue?

[2016-07-20 21:28] joebayles commented on #186
@abouffard So is this approved for 2525D or 2525D Change 1?

[2016-07-20 21:29] joebayles commented on #177
@abouffard can you update this issue?

[2016-07-20 21:33] joebayles commented on #131
Verified.

[2016-07-20 21:33] #131 closed

[2016-07-20 21:41] Dbarnes1 commented on #289
I believe that these issues have been fixed, but @abouffard should verify.

[2016-07-20 21:46] csmoore commented on #133
@joebayles - no - it is assigned to @abouffard

There was something similar, an [icon mapping table](https://github.com/Esri/joint-military-symbology-xml/blob/dev/samples/legacy_support/All_ID_Mapping_Original.csv) produced for our project but this specific  issue/request is for something different that can be used for a D to C symbol->mapping tool  (that also has recommended mappings to at least

[2016-07-20 21:48] csmoore commented on #316
@joebayles - I was not notified it was fixed by @abouffard (and there still appear to be 2525B entries in this "C" mapping table)

[2016-07-21 18:49] BobBooth opened #323 "Duplicate values in All_ID_Mapping_Latest.csv table"
The Air and METOCPoints sections of the All_ID_Mapping_Latest.csv table have some duplicate values.
Air
Duplicate value: S-A-WM----
METOCPoints
Duplicate value: W-S-WSVE--
Duplicate value: W-S-HPFS--
Duplicate value: W-S-HHDMDB
Duplicate value: W-S-HHDMDF

This was discovered during work on the Generate Domain CSV tool.

[2016-07-21 20:11] BobBooth commented on #323
Updated to point to _Original table.

[2016-07-21 23:26] joebayles commented on #323
@BobBooth, is it Original or is it Latest?

[2016-07-21 23:43] joebayles commented on #323
I believe there are no erroneous duplicates, see detailed information below:

Duplicate value: S-A-WM----
_This is two different entities in 2525D (Air Missile and Air Missile Launched)_
Duplicate value: W-S-WSVE--
_This is two different entities in 2525D (METOC Eruption and Activities Eruption)_
Duplicate value: W-S-HPFS--
_This is two different entities in 2525D (Fish Weirs and Fish Stakes)_
Dup

[2016-07-22 14:07] BobBooth commented on #323
@joebayles - it turns out to be in both.
@csmoore - how does Joe's comment that the duplicates represent different entities affect the plan to use these tables for domain values?  The script currently uses the first one it encounters. Coded value domains don't like duplicate codes.

[2016-07-22 14:16] csmoore commented on #323
@BobBooth - doesn't make any sense to me...only one symbol SIDC "W-S-WSVE--" maps to one name "Volcanic Eruption" so it should only appear in legacy mapping table once. But we are already ignoring the duplicates - I am more concerned with the 2nd case I noted in the original issue where a single SIDC (S-A-W-----) maps to 2 different things

[2016-07-27 16:05] csmoore opened #324 "LegacyMapping table missing many entries"
While testing the mil2525c_b2 DictionaryRenderer with the setting: (setting, value) => ("legacy_standard_switch", "current") - I noticed many errors/missing entries in the source table [All_ID_Mapping_Latest.csv](https://github.com/Esri/joint-military-symbology-xml/blob/dev/samples/legacy_support/All_ID_Mapping_Latest.csv)

This table should be rechecked against the [legacy truth data](https://git

[2016-09-09 15:53] Dbarnes1 opened #325 "Legacy Mapping Table needs entry change for Ice Drift : Direction METOC Symbol"
The entry for this 2525C `W----IDID--` is being mapped to the 2525D point symbol `46110304` in this [table](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525c_b2/core_data/stylx/stylx_source_data/legacy_support/All_ID_Mapping_Original.csv). This is incorrect.

We need to modify the source data to fix this mapping: `W----IDID--` to `W----IDID--`.

[2016-10-19 13:54] joebayles commented on #241
Any update, @ottenw ?

[2016-10-19 14:50] ottenw commented on #241
second semiannual FSIB meeting has not yet been held.  No date set yet, chairman is waiting for key systems scheduling information before setting a meeting date.  Would welcome the opportunity to discuss an issue related to using a MSD symbol for RED - my travel to SSMC approved, are you attending?

[2016-10-19 14:59] joebayles commented on #241
I am Sir, and we have much to discuss.

[2016-10-19 15:39] joebayles opened #328 "Space and Air Echelon and Mobility"
_Original question came from SMDC._

They reported a bug re: assigning echelon and mobility to Air tracks. Specifically, the echelon and/or the mobility amplifiers do not line up with the friendly frame. They work as expected in hostile, neutral, and unknown frames (see below).
![10060100151102000700](https://cloud.githubusercontent.com/assets/5016557/19525793/03e239e0-95d7-11e6-8059-135a49e3a00f.

[2016-10-25 19:00] mepler commented on #328
I noticed that the Utility modifier is not quite centered on the enemy frame (along with the echelon, which as stated below, is currently not allowed).

Is there a way to get a dump of complete symbols from you (Joe). I will manually review them an adjust as needed for the next release.

Mike

From: Joe Bayles [mailto:notifications@github.com]
Sent: Wednesday, October 19, 2016 11:40 AM
To: Esri/jo

[2016-10-25 22:33] joebayles commented on #328
@mepler Sure thing Mike, latest versions are here:

https://github.com/Esri/joint-military-symbology-xml/tree/dev/svg

[2016-10-28 17:06] joebayles commented on #289
@abouffard did this get fixed?

[2016-10-28 17:18] abouffard commented on #289
I believe I did address them.  Independent verification wouldn't hurt as it has been a while now.

[2016-10-31 16:00] Dbarnes1 commented on #289
@abouffard I'm able to verify as these Icons are now showing up. (I'm pretty sure this issue was fixed a while ago)

[2016-10-31 16:00] #289 closed

[2016-11-04 10:10] gsl123 commented on #225
Is there a mapping table between APP6A-APP6C?

[2016-11-04 13:48] joebayles commented on #225
We are currently not able to discuss APP-6, APP-6A, APP-6B, or APP-6C. We have asked NATO to reconsider. If we can at some point, this will be revisited.

[2016-11-04 20:43] joebayles opened #329 "Task Organization Symbols vs. Unit Symbols"
ADRP 1-02, Military Terms and Graphics, has an entry about Task Organization Composition symbols, as opposed to unit symbols:
![image](https://cloud.githubusercontent.com/assets/5016557/20021215/1f5d8892-a292-11e6-9ccc-ce925560fde9.png)

These would actually do quite well as a pop-up for a higher echelon. The US Army will eventually send this requirement to the SSMCCB, but I imagine there will be

[2016-11-04 21:18] joebayles opened #330 "Operational Condition Amplifier SVGs"
MIL-STD-2525D lists the following Operational Condition Amplifiers:

Primary:
![image](https://cloud.githubusercontent.com/assets/5016557/20022764/494133aa-a299-11e6-858f-604cdbcbf766.png)

Alternate:
![image](https://cloud.githubusercontent.com/assets/5016557/20022779/5b316dd2-a299-11e6-9e1d-3f3c7f254e58.png)

We need SVGs for at least the primary amplifiers. The secondary amplifiers are currentl

[2016-11-04 21:34] joebayles commented on #330
https://github.com/Esri/joint-military-symbology-xml/tree/dev/svg/MIL_STD_2525D_Symbols/OCA

Whoops!

[2016-11-04 21:34] #330 closed

[2017-01-10 23:04] joebayles commented on #241
@ottenw any update? Maybe draft a CP for March?

[2017-02-22 19:19] ottenw commented on #322
Updated doctrine publication is scheduled to be released in next 30-45 days - ATP 3-34.81, C1
Engineer Reconnaissance.  Will evaluate that publication then start working on identifying new symbols for post MIL-STD-2525 Ch1

[2017-03-29 23:34] joebayles commented on #119
@mepler can you weigh in on this?

[2017-03-29 23:36] joebayles commented on #122
@csmoore and/or @Dbarnes1 can you weigh in on this issue?

[2017-03-29 23:40] joebayles commented on #124
@Dbarnes1 can you weigh in on this issue? Did the legacy support make it back into JMSML? Is this issue fixed?

[2017-03-29 23:42] joebayles commented on #124
Related to https://github.com/Esri/joint-military-symbology-xml/issues/133

[2017-03-29 23:44] joebayles commented on #182
@mepler can you weigh in on this?

[2017-03-30 12:30] csmoore commented on #122
The original idea was to create the necessary metadata and produce some output (table, tags) so we could know what attributes/labels are valid for which symbols/symbol sets.

For instance, a UI (like the military symbol editor) we could limit/hide the attributes that don't apply.  But doesn't seem like a priority, so feel free to close.

[2017-03-30 14:34] Dbarnes1 commented on #124
@joebayles I'll go ahead and close this out. Legacy symbols (2525C/B2) were added to JMSML as part of the effort last year for legacy support. The way I check on this is by searching for the `legacysymbol` tag in the xml. You'll see we have many legacy entries with their 15 alphanumeric SIDC code.

[2017-03-30 14:34] #124 closed

[2017-03-30 14:38] Dbarnes1 commented on #133
this is the legacy mapping table we need? Perhaps we should close this out if so: https://github.com/Esri/joint-military-symbology-xml/blob/dev/samples/legacy_support/LegacyMappingTableCtoD.csv

[2017-03-30 15:02] csmoore commented on #133
That was C -> D - was looking for D -> C - but it is fine to close - I believe we mainly have what we wanted with the icon mapping tables that go from D->C

I think I was mainly looking to be able to auto-generate that manually-maintained mapping spreadsheet.

But more generally these C <-> D Mapping tables concretely captured the interoperability & mapping scenarios:

1. Do C&D systems interopera

[2017-03-30 15:06] Dbarnes1 commented on #133
@csmoore thanks for the explanation and sorry for commenting on an issue that's been lingering for years. closing out.

[2017-03-30 15:06] #133 closed

[2017-03-30 15:27] csmoore commented on #292
I believe this is resolved - I don't think I've seen any SIDCs in the symbol names for the released mil2525c_b2 style

[2017-03-30 15:27] #292 closed

[2017-03-30 15:37] csmoore commented on #196
This one looks done - I thought at some point there was agreement to have the "retired" symbols (9810000 ?) at least map to the correct symbol set in the new standard, but that can be a discussion for elsewhere - if these tables get used in a conversion tool.

[2017-03-30 15:37] #196 closed

[2017-03-30 15:38] #225 closed

[2017-03-30 15:46] csmoore commented on #133
@Dbarnes1 - I went through [any issues I created](https://github.com/Esri/joint-military-symbology-xml/issues/created_by/csmoore) & closed out any I thought were no longer valid

[2017-03-30 16:29] joebayles commented on #122
I'd like to leave this open, I think that would be useful. We can always reclose it later.

[2017-03-30 23:37] joebayles opened #333 "APP-6(D) Dismounted Individual Modifier Lists"
## Issue
In the Dismounted Individual modifier lists, the modifiers are not grouped by category. For instance, mobility modifiers (Bicycle, Mountain, Ski) are spread throughout the list.

## Suggestion
Suggest grouping them together. Further, it would be easier to group the ones that belong in both tables using the same codes, basically front-loading rank and functional staff area.

## Sector One

[2017-04-03 14:28] mepler commented on #182
The SSMC knows the wind plot symbol(s) are missing several pieces of information in order to render it properly and will entertain any recommendations to "correct" the problem. Currently the SSMC is trying to get in contact with someone from the METOC community in order to address this issue along with some other inconsistencies within the METOC appendix.

[2017-04-03 17:51] joebayles commented on #182
Thanks @mepler, I will follow up with my contacts as well.

[2017-04-04 23:38] joebayles commented on #122
So, after more review, does https://github.com/Esri/joint-military-symbology-xml/blob/dev/instance/Base.xml#L941 look like something resembling what this would be?

Basically need to come up with a way to assign an XY to it.

[2017-04-04 23:45] joebayles commented on #198
@csmoore agreed, do you know if this is updated automatically through a script? If not, I can just do it manually.

[2017-04-05 03:47] joebayles opened #334 "Misspelling in Base XML"
https://github.com/Esri/joint-military-symbology-xml/blob/dev/instance/Base.xml#L912

[2017-04-05 04:09] joebayles opened #335 "Add Dismounted Individual Dimension Frame Shapes to Base.xml"
Base.xml#L2241

[2017-04-05 04:10] abouffard commented on #122
Yes, partially.  The coordinates were my attempt at placement guidance for where that field would be placed around a typical frame.

T on the following diagram, for example, would be drawn at relative position -1,-1
Z would be -1,-2
M would be 1,-1
G would be 1,1

![image](https://cloud.githubusercontent.com/assets/4564846/24688539/328c0fa4-1986-11e7-8683-1c1f8668be49.png)

Unfortunately, such an

[2017-04-05 12:08] csmoore commented on #198
@joebayles - I believe all of the csv's are created through the [export C# app](https://github.com/Esri/joint-military-symbology-xml/tree/dev/source/JointMilitarySymbologyLibraryCS/jmsml)

[2017-04-05 16:01] abouffard commented on #198
@joebayles @csmoore - yes,that CSV is updated using the jmsml console app, by running https://github.com/Esri/joint-military-symbology-xml/blob/dev/samples/legacy_support/exportLegacyData.bat

[2017-04-05 16:51] joebayles commented on #198
So, could we write an exception in that bat file to disregard "Unknown"?

[2017-04-05 17:10] abouffard commented on #198
No.  You don't want to disregard the lines containing the Unknowns, just remove the " : Unknown".

Its been a while but I believe the "Unknowns" are appearing on the end of full frame entity names because JMSML uniquely identifies four different shapes of full frame entities by appending the standard identity string on the end of the basic name, and opts to write out the "Unknown" name to this CSV

[2017-04-17 22:13] #334 closed

[2017-05-01 01:30] joebayles opened #336 "Military Messages that don't have symbology"
A Change Proposal should be created that adds messages with geospatial information to the MIL-STD and creates standard symbology for them. Examples are:

- MEDICAL EVACUATION REQUEST (MEDEVAC)
- SPOT REPORT (SPOTREP)
- CALL FOR FIRE (FM.CFF)
- UNEXPLODED ORDNANCE REPORT (UXO)

#### References
- FM 6-99 US Army Report and Message Formats (New)
- FM 101-5-2 US Army Report and Message Formats (Old)
-

[2017-05-01 13:01] ottenw commented on #336
On the surface this makes perfect sense.  As we have found many times though, the symbol set a systems or group of like systems implement can be different, so mandating the pairing of a formatted message with specific MIL-STD-2525/APP-6 symbol quickly becomes a dead end.  For example, systems that exchange data via MIL-STD-6016 (Link 16) most often use a cockpit symbology standard, while those who

[2017-05-01 13:16] ottenw commented on #336
For •EDICAL EVACUATION REQUEST (MEDEVAC):
![medevac pup](https://cloud.githubusercontent.com/assets/6909159/25580420/6c02ffa2-2e46-11e7-99a6-7de1e135d071.JPG)

[2017-05-01 17:52] joebayles commented on #336
@ottenw thanks for the explanation. I would like to continue the discussion, but bottom line is that I see the need for a restricted companion document to either 2525 for additional messages or 6016/6017/6040 for symbology, and that should probably be under the auspices of the SSMC/SSMMCB/JSP/etc.

[2017-05-02 12:59] ottenw commented on #336
@joebayles  6016 and 6017 are under the Joint Multi Tactical Data Link Configuration Control Board (JMTCCB).  6016 has a ratified companion document,  STANAG 5516; 6017 has an unratified STANAG 5519 companion document.  6040 is under the USMTF CCB.  There is a NATO MTF as well; the two are identical in some messages but one of the two is lagging behind in others.  Our SSMC Joint Staff representati

[2017-05-23 00:38] joebayles opened #337 "Support by Fire Point Draw Rules and Example"
MIL-STD-2525 alludes to variation in the angle of the two lines for the arrows created by points three and four. However, this variation is seldom used in digital representations, presumably because of the difficulty in rendering it and the fact that the message format doesn't support it. For instance, here it is used in a doctrinal publication:
![image](https://cloud.githubusercontent.com/assets/

[2017-05-25 21:09] Dbarnes1 commented on #337
@joebayles I think that this symbol should actually be a multi-layer marker symbol with two attribute driven symbol components/layers. How someone would draw the symbol would work like this:

1. User draws the symbol by clicking on the map at the centerpoint of the support by fire
2. User can rotate and scale the symbol depending on the size
3. User sets length of lateral support by fire line (att

[2017-05-25 21:11] joebayles commented on #337
@Dbarnes1 agreed, I guess I didn't really make my committee suggestion clear. Schema has to be updated.

[2017-05-25 21:17] Dbarnes1 commented on #337
@joebayles ideally these special case symbols can have UI where user enters angle/line length that isn't locked into our schema (Like how you can apply extrusion without it being in your schema), but we're definitely on the same page.

[2017-05-30 19:39] ottenw commented on #337
@joebayles if you are attending the next SSMC in person, this might be a good thing to discuss with the Army representative.  If the angle of the arrows is doctrinally significant, the message standards can be updated.  It takes a few years between the time a message standard is updated and the new version is implemented, tested, and fielded; in the mean time what you are implementing is very usab

[2017-07-18 11:01] NorbertThoden opened #338 "missing entries from V100.0 to V100.1"
Hi!
Ich use the military symbology and have problems with a couple of symbols.
Lets focus on Protection Areas : Assault Crossing (key=25271300):
![grafik](https://user-images.githubusercontent.com/23724249/28313453-2df8a654-6bb7-11e7-8891-e87be3c43792.png)

I am using the method 'searchSymbols(SymbolStyleSearchParameters) to search for key=25271300:
Using ArcGisRuntimeQt (C++) V100.0 - Linux i got

[2017-07-18 14:33] Dbarnes1 commented on #338
@NorbertThoden in order to more accurately depict the Assault crossing, we changed the symbol class from Area to Line, or class 3 to 4. Previously, you would sketch a polygon with the assault crossing symbol in the center of that polygon, but now the symbol draws as a line from start point to end point. This was done to fix a bug submitted against the stylx at version 100.0. Let me know if you hav

[2017-07-18 14:42] NorbertThoden commented on #338
Hi Daniel!
It´s not unlikely that i created the bug...

But how can i get the image:
![grafik](https://user-images.githubusercontent.com/23724249/28322993-e17cc898-6bd7-11e7-9051-14a1cc23b07b.png)

From my point of view this entry is completely missing, as shown in the screenshots.
Or does that entry has a different key?
Thx

[2017-07-18 14:45] Dbarnes1 commented on #338
@NorbertThoden Sorry for misunderstanding. We did get rid of the Protection Areas : Assault Crossing without any affiliation, but we kept the 4 versions of the symbol that have affiliation. In the stylx, I would search for any Key that is like "271300" and then choose one of the symbols depending on affiliation. Friendly, which is black, is 271300_3 in our stylx.

[2017-07-18 14:47] NorbertThoden commented on #338
And this is done for "Protection Areas : Assault Crossing" or for any other symbols?

[2017-07-18 14:50] Dbarnes1 commented on #338
This is how we structured all of our symbols, dividing their Keys with the 4 affiliations, although there are cases in which we may have an entry that doesn't have an affiliation (METOC symbols). Our intent is to get rid of confusion by eliminating duplicate entries in the stylx.

[2017-07-18 14:58] NorbertThoden commented on #338
Eleminating duplicates is good idea .-)
But it should be possible to get the image used in the official document (MIL2525D):
![grafik](https://user-images.githubusercontent.com/23724249/28323728-e96dca8c-6bd9-11e7-9391-a4eb4dea3401.png)

The suggested symbol (black, key=25271300_3) is (a little bit) different.

ESRIs make it hard to use their SDK sometime....
I will how is can come across this pro

[2017-07-19 09:14] NorbertThoden commented on #338
Hi Daniel!
I tried to analyze the 3 similar symbols:
### Overview
(Taken from MIL2525D)
- 25271100 - 4 PTs - Protection Areas : Bridge or Gap
- 25271300 - 4 PTs - Protection Areas : Assault Crossing
- 25271400 - 3 PTs - Protection Areas : Bridge

![grafik](https://user-images.githubusercontent.com/23724249/28359034-397923e0-6c71-11e7-8760-a60ff658783c.png)
![grafik](https://user-images.githubuserc

[2017-07-20 12:35] NorbertThoden commented on #338
Hi Daniel!

With our current knowlegde we put some hours and analyze the contruction of these 3 symbols:

We modified the construction of theses 3 symbols to use 4 coordinates.
**Using the V100.0 this looks like:**
![2017-07-20_protectionareas-v100 0](https://user-images.githubusercontent.com/23724249/28417194-67b3e66e-6d57-11e7-84d1-b9bfcc2664e5.png)
As you can see, 25271300 looks awfull

**Using

[2017-07-20 21:55] Dbarnes1 commented on #338
Hi @NorbertThoden,

Thanks for doing such an in-depth investigation. I am glad that we agree that the original bug was fixed in V 100.1.

For 25271300, it would be easy to add the 5th symbol for consistency, but I believe a better fix would be to use 25271300_3 as the swatchSymbol. I would argue that because we have 4 affiliations for these three symbols, we should actually remove the 5th entry in

[2017-07-21 07:02] NorbertThoden commented on #338
Hi Daniel!

**Thanks you** for honoring my work and the result.
I try to establish a good workflow between ESRI and me (or my company) since about 2 years. I prefer to work **together**.

But back to topic:
I would prefer this, especially if it´s easy.

Why:
- the swatchSymbol of 25271300_3 does not really match the standard document MIL2525D
For this purpose the 5th symbol (with SymbolClass 3) is

[2017-07-21 18:13] Dbarnes1 commented on #338
@NorbertThoden you are absolutely correct. I will add that symbol with symbolclass 3 back into the stylx and I will let you know once it is updated. It won't get pulled into runtime until the next release, but I will post a link here on GitHub where you can access the latest.

[2017-07-21 18:26] NorbertThoden commented on #338
Hi Daniel!
Just a short answer is necessary:  **Thank you very much**
I am looking forward to hearing from you.
Have a nice weekend
Norbert

[2017-07-24 14:22] joebayles commented on #329
@Dbarnes1 @kerryrobinson @ralfgottschalk this is something we need to research. More later.

[2017-07-24 14:54] joebayles commented on #336
MEDICAL EVACUATION REQUEST (MEDEVAC)
- Use MEDEVAC entity in Event Frame
- [ ] Draft CP to include black medical cross into Activities/Events Symbol Set
![image](https://user-images.githubusercontent.com/5016557/28529317-15d2ded6-7045-11e7-8411-7e33efa3d9fa.png)

SPOT REPORT (SPOTREP)
- Use graphic for reported unit with appropriate credibility, reliability, or identity

CALL FOR FIRE (FM.CFF)
- U

[2017-07-24 15:22] mepler commented on #336
The correct image for Field Artillery Observer is

![10130400](https://user-images.githubusercontent.com/7315589/28530541-300bb83c-7062-11e7-9aaf-f645b11c19a3.png)

[2017-07-24 15:37] ottenw commented on #336
Military symbology should support military doctrine.  We have a symbol for a medical evacuation request and we have symbols for calls for fire - symbols for point targets, linear targets and area targets.  What is being discussed is not acceptable and would put MIL-STD-2525x out of sync with doctrine.  As Nancy Regan said, "Just Say No".

[2017-07-24 15:44] joebayles commented on #337
@ottenw - After discussing it at the committee, two things:
Suggest we only vary the length between points 1 and 2

![picture1](https://user-images.githubusercontent.com/5016557/28531624-41d85644-704c-11e7-92c2-df0b6f6b8c6e.png)

Army rep will discuss with proponent agency.

[2017-07-24 15:51] joebayles commented on #119
https://github.com/OGCMetOceanDWG/WorldWeatherSymbols

Now... targets.

[2017-07-24 15:55] joebayles commented on #217
@mepler, FYI

[2017-07-25 10:57] joebayles commented on #336
This was my argument, but the US Army representative suggested the above.

To be clear, I believe a Medical Evacuation Pickup Point does not always equal a Medical Evacuation Request. While it _could_ be the same, an MEP by doctrine is a templated location where we would bring casualties, where as a MEDEVAC Request is the real-time location where the request is made (Line 1 in the 9-Line).

Agreed

[2017-07-25 11:57] ottenw commented on #336
Doctrine has evolved.   Army does not use "9 line" for much of anything; that's pretty much a CAS term.  In our approved mission threads / test threads, we use mostly VMF not USMTF; USMTF usage is very limited to specific functions, usually with Joint systems.  The MEDEVAC Request message in VMF has been updated and is not the MEDEVAC Request and Response message.  BLUF:  The receiver of the MEDIV

[2017-07-25 12:27] joebayles commented on #322
@ottenw, any update?

[2017-07-25 13:26] ottenw commented on #322
@joebayles I'll email you

[2017-07-26 23:09] Dbarnes1 commented on #338
@NorbertThoden symbol has been added back in the stylx and is fixed; will be released in the next version of Runtime. In the mean time, you can download the stylx from our github repository here: https://github.com/Esri/military-features-data/blob/dev/data/mil2525d/core_data/stylxfiles/mil2525d.stylx. I'm going to go ahead and close this issue.

[2017-07-27 09:34] joebayles commented on #260
While some of these have changed from 2525B Change 2 to 2525D and 2525D Change 1, the issues continue. The trends I see are:

- Areas that have point draw rules (minefields)
- Geometries that are listed together because they are related, but break taxonomy (fires, obstacles, etc.)

I've given this list to the SSMC, and they will investigate. Easy fix would be to adjust the hierarchical names (i.e.

[2017-07-27 09:50] joebayles commented on #262
@ottenw update on this CP?

[2017-07-27 10:01] mepler commented on #260
Unfortunately, the "easy" fix is not an easy fix. Example: Looking at Fires Areas Entity (240000) that has some line and point Entity Types under it, it would seems to make sense to just change the Entity name until you look at the following Entity (Fire Points - 250000). This is an issue that the SSMC needs to review more thoroughly. The last option we want is to change the code itself in order t

[2017-07-27 10:22] joebayles opened #340 "Graphic Examples from the standard do not have codes or SVGs"
There are several graphics in the beginning of the standard that do not make it into the codes, to include:
- Dynamic graphic amplifiers
- Areas of Uncertainty (AOUs)
- Towed Sensor Arrays
- Dead Reckoning
- Speed Leadering
- Pairing
- Engagement Bars

_See below for examples_

Suggest we discuss how to support this.

![image](https://user-images.githubusercontent.com/5016557/28665890-0942f476-727

[2017-07-27 10:32] joebayles opened #341 "Operational Condition Amplifier Support"
Currently, we support the alternate Operational Condition Amplifiers (OCAs) to show condition.

![image](https://user-images.githubusercontent.com/5016557/28666283-98f8e8c2-727b-11e7-807c-44d393fed964.png)

However, the primary OCAs are different.

![image](https://user-images.githubusercontent.com/5016557/28666382-eea8c896-727b-11e7-81db-b5aaf06d0a57.png)

The SVGs exist in JMSML, but the logic f

[2017-07-27 10:33] mepler commented on #340
These are amplifiers which are not transmitted via SIDC.

[2017-07-27 10:38] joebayles commented on #340
Agreed, but regardless, they should be supported.

[2017-07-27 10:40] joebayles commented on #324
@csmoore @Dbarnes1 is this still an issue?

[2017-07-27 10:41] joebayles commented on #325
@Dbarnes1 is this still an issue?

[2017-07-27 10:45] joebayles commented on #122
This is a major undertaking, but definitely doable. Should consider putting this in the backlog, but maybe commissioning database services to complete the work.

[2017-07-27 11:10] csmoore commented on #324
These look OK -
![image](https://user-images.githubusercontent.com/3090809/28667675-8994cbb6-729a-11e7-818d-9357ab23bf2c.png)

I did have to make some other manual fixes to lines/areas ( still in this branch: https://github.com/Esri/joint-military-symbology-xml/compare/csm-legacy-icon-fixes-06-2016  ) but the point symbols were all good I believe

[2017-07-27 11:10] #324 closed

[2017-07-27 11:22] csmoore commented on #325
This is still an issue - we had to manually change this to get to work:

https://github.com/Esri/joint-military-symbology-xml/compare/csm-legacy-icon-fixes-06-2016

[2017-07-27 11:30] csmoore commented on #122
Feel free to close this, we would have used this capability to only display attributes/labels valid to that symbol to the user, but I don't think we've gotten any complaints about this.

[2017-07-27 11:37] joebayles commented on #122
We haven't received any complaints _yet_. Once people actually start using this, the requirement will be there. I'm leaving it open for now.

[2017-07-27 12:58] ottenw commented on #262
16-025-AR "Add Key Terrain Control Measure Symbol" - approved as modified, for inclusion in MIL-STD-2525D(1)

[2017-08-11 23:01] joebayles commented on #182
@jfrygeo, any ideas?

[2017-08-11 23:02] joebayles commented on #182
We now just need to combine and rotate symbols from https://github.com/OGCMetOceanDWG/WorldWeatherSymbols based on attributes in the schema.

[2017-08-14 22:04] joebayles opened #342 "Cross-Country Mobility Symbology"
In Chapter II of JP 2-01.3, _Joint Intelligence Preparation of the Operational Environment_ (and several other publications), there are references to products of the IPB process, including cross-country mobility, mobility corridors, and others. These should be standardized and incorporated into MIL-STD-2525 (and APP-6).

### Cross-country mobility:
Used to represent the trafficability of the terra

[2017-08-23 18:05] ottenw commented on #342
IMHO, mobility corridors is a possibility.  I'll have to disagree with CCM and MCOO.  When created, both products include a legend.  Based upon a number of factors, the visual representation of speed/mobility prediction categories is different - there isn't a one size fits all.  I'd be more than happy to discuss this during a sidebar (with a whiteboard?) at the next SSMC which I believe is October

[2017-08-23 18:17] ottenw commented on #322
Work in progress; compiling a list of symbols, what amplifiers are needed to support each and information format/structure required to populate each.  Thinking of a new symbol set for Route Reconnaissance Symbology; the CP to add all this should also include proposed new pages / section to the implementation guidance document that is currently in draft form.

[2017-10-21 06:01] joebayles opened #344 "Control measures with no Altitude/Depth attributes"
There are several control measures that do not carry the X or X1 attributes, denoting base and high/low altitude or depth, which probably should.

Some include:
Submarine Action Areas
- 25150502 Submarine Action Area (SAA)
- 25150503 Submarine-Generated Action Area (SGAA)

Aviation Axes of Advance
- 25151401 Friendly Airborne/Aviation
- 25151402 Attack Helicopter

Aviation Directions of Attack
- 2

[2017-10-24 15:55] joebayles opened #345 "17-001-GBR Corrections to Minefield Control Measures"

[2017-10-24 15:55] joebayles opened #346 "17-002-GBR Correction to Ammunition Transfer Point Code"

[2017-10-24 15:56] joebayles opened #347 "17-005-GBR Remove Redundant SIDC from table"

[2017-10-24 15:58] joebayles opened #348 "17-007-DEU Change Hijacking/Hijacked Modifiers from H to HIJ"

[2017-10-24 15:58] joebayles opened #349 "17-018-AR Add Sector 1 Robotic Equipment Symbol"

[2017-10-24 15:59] joebayles opened #350 "17-019-AR Add S2 Track Equipment Symbol"

[2017-10-24 18:28] joebayles opened #351 "17-020-AR Add S2 Track Unit Symbol"

[2017-10-24 18:28] joebayles opened #352 "17-021-AR Add Sector 2 Limited Wheeled Equipment Symbol"

[2017-10-24 18:29] joebayles opened #353 "17-022-AR Add Sector 2 Cross-Country Wheeled Equipment Symbol"

[2017-10-24 18:29] joebayles opened #354 "17-023-AR Add Sector 1 Attack Equipment Symbol"

[2017-10-24 18:29] joebayles opened #355 "17-024-AR Add Sector 1 Cargo Equipment Symbol"

[2017-10-24 18:30] joebayles opened #356 "17-026-AR Remove Sector 1 Hijacker Equipment Symbol Approved"

[2017-10-24 18:31] joebayles opened #357 "17-028-AR Add Sector 2 Light Equipment Symbol"

[2017-10-24 18:31] joebayles opened #358 "17-029-AR Add Sector 1 Maintenance Equipment Symbol"

[2017-10-24 18:31] joebayles opened #359 "17-030-AR Add Sector 1 Medical Evacuation Equipment Symbol"

[2017-10-24 18:32] joebayles opened #360 "17-031-AR Add Sector 2 Medium Equipment Symbol"

[2017-10-24 18:32] joebayles opened #361 "17-032-AR Add Sector 1 POL Equipment Symbol"

[2017-10-24 18:33] joebayles opened #362 "17-033-AR Add Sector 2 Railway Equipment Symbol"

[2017-10-24 18:33] joebayles opened #363 "17-034-AR Remove Main NATO Supply Class III Symbol"

[2017-10-24 18:34] joebayles opened #364 "17-035-AR Remove Main NATO Supply Class V Symbol"

[2017-10-24 18:35] joebayles opened #365 "17-037-AR Remove Main US Supply Class II Symbol"

[2017-10-24 18:35] joebayles opened #366 "17-038-AR Remove Main US Supply Class III Symbol"

[2017-10-24 18:37] joebayles opened #367 "17-039-AR Remove Main US Supply Class V Symbol"

[2017-10-24 18:37] joebayles opened #368 "17-040-AR Add Main Rotary-Wing Symbol"

[2017-10-24 18:38] joebayles opened #369 "17-041-AR Add Sector 1 TACSAT Unit Symbol"

[2017-10-24 18:38] joebayles opened #370 "17-042-AR Add Sector 2 Tractor-Trailer Equipment Symbol"

[2017-10-24 18:39] joebayles opened #371 "17-043-AR Add Sector 1 UAS Unit Symbol"

[2017-10-24 18:39] joebayles opened #372 "17-044-AR Add Sector 1 Utility Unit Symbol"

[2017-10-24 18:40] joebayles opened #373 "17-045-AR Add Main Vehicle Symbol"

[2017-10-24 18:40] joebayles opened #374 "17-046-AR Add Sector 1 Water Equipment Symbol"

[2017-10-24 18:41] joebayles opened #375 "17-047-AR Add Sector 1 Weapon Unit Symbol"

[2017-10-24 18:41] joebayles opened #376 "17-048-NV Correction to Tropical Storm Wind Areas Symbol"

[2017-10-24 18:42] joebayles opened #377 "17-050-DS Add Frame Cyberspace Dimension"

[2017-10-24 18:42] joebayles opened #378 "17-051-DS Replace Cyberspace Symbols"

[2017-10-24 18:44] joebayles opened #379 "17-052-NV Add Anti-Tank Mineline Symbol"

[2017-10-24 18:44] joebayles opened #380 "17-053-NV Add Sector 1 Medical Surface Symbol"

[2017-10-25 14:50] joebayles commented on #322
Presented by @ottenw at 17-3. Army will draft and present a Change Proposal.

[2017-10-25 15:40] joebayles opened #382 "16-001-MC Add Main AVLB Land Equipment Symbol"

[2017-10-25 15:42] joebayles opened #383 "16-003 Add Main Assault Breacher Vehicle w/ Dozer Land Equipment Symbol"

[2017-10-25 15:43] joebayles opened #384 "16-004-MC Add RRC-Husky Land Equipment Symbol"

[2017-10-25 15:45] joebayles opened #385 "16-005-MC Add Main RRC-Buffalo Land Equipment Symbol"